{% extends 'VidalVeterinarBundle::vidal_layout.html.twig' %}


{% block title %}
	<h1>{{ company.CompanyName|upper|raw }}{% if company.Property is not empty %}, {{ company.Property|raw }}{% endif %}
		{% if company.Country is not empty  and company.Country != 'Unknown' %}
			<span>({{ company.Country }})</span>
		{% endif %}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('veterinar') }}">Видаль-Ветеринар</a>
		<i></i>
		<a href="{{ path('proizvoditeli') }}">Фирмы-производители</a>
		<i></i>
		<span>{{ company.CompanyName|raw }}</span>
	</div>
{% endblock %}


{% block vidal %}
	{# препараты #}
	<div class="block">
		<div class="block-anons">
			<div class="block-head">Лекарственные препараты</div>
		</div>
		{% include 'VidalVeterinarBundle:Vidal:render_products.html.twig' %}
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.products-table-name {
			width: 140px;
		}
	</style>
{% endblock %}