<div class="tabs">
	<a href="{{ path('veterinar') }}" {{ menu_veterinar == 'veterinar' ? 'class="active"' }}>Поиск</a>
	<a href="{{ path('proizvoditeli') }}" {{ menu_veterinar == 'company' ? 'class="active"' }}>Фирмы-производители</a>
	<a href="{{ path('predstavitelstvo') }}" {{ menu_veterinar == 'infoPage' ? 'class="active"' }}>Представительства фирм</a>
	<a href="{{ path('v_kfu') }}" {{ menu_veterinar == 'kfu' ? 'class="active"' }}
		title="Клинико-фармакологический указатель">КФУ</a>
</div>