{% extends 'VidalVeterinarBundle::vidal_layout.html.twig' %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<span>Видаль-Ветеринар</span>
	</div>
{% endblock %}


{% block vidal %}
	{% if menu_veterinar is defined %}
		{% include 'VidalVeterinarBundle:Vidal:veterinar_menu.html.twig' %}
	{% endif %}

	{% include 'VidalVeterinarBundle:Vidal:veterinar_form.html.twig' %}

	{% if products is defined %}
		{% if products is not empty %}
			<div class="info-line">
				{% if l %}
				Найдено препаратов {{ l == 8 ? 'c цифры' : 'на букву' }} <i>{{ l }}<i>:
						{% else %}
							Найдено препаратов по запросу <i>{{ q }}</i>:
						{% endif %}
						<span>{{ products.totalItemCount }}</span>
			</div>
			{% include 'VidalVeterinarBundle:Vidal:render_products.html.twig' %}
			<div class="navigation">{{ knp_pagination_render(products) }}</div>
		{% else %}
			<div class="info-line">
				{% if l %}
					Не найдено препаратов {{ l == 8 ? 'c цифры' : 'на букву' }} <i>{{ l }}</i>
				{% else %}
					Не найдено препаратов по запросу <i>{{ q }}</i>
				{% endif %}
			</div>
		{% endif %}

	{% elseif companies is defined %}
		{% if companies is not empty %}
			<div class="info-line">
				{% if l %}
					Найдено производителей {{ l == 8 ? 'c цифры' : 'на букву' }} <i>{{ l }}</i>:
				{% else %}
					Найдено производителей по запросу <i>{{ q }}</i>:
				{% endif %}
				<span>{{ companies|length }}</span>
			</div>
			<table class="products-table companies">
				<tr class="products-table-header">
					<td>Название</td>
					<td>Страна</td>
				</tr>
				{% for company in companies %}
					<tr>
						<td>
							<a href="{{ path('v_company', {'CompanyID':company.CompanyID}) }}">{{ company.LocalName|raw }}</a>
						</td>
						<td>{{ company.Country }}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<div class="info-line">
				{% if l %}
					Не найдено производителей {{ l == 8 ? 'c цифры' : 'на букву' }} <i>{{ l }}</i>
				{% else %}
					Не найдено производителей по запросу <i>{{ q }}</i>
				{% endif %}
			</div>
		{% endif %}

	{% elseif infoPages is defined %}
		{% if infoPages is not empty %}
			<div class="info-line">
				{% if l %}
					Найдено представительств {{ l == 8 ? 'c цифры' : 'на букву' }} <i>{{ l }}</i>:
				{% else %}
					Найдено представительств по запросу <i>{{ q }}</i>:
				{% endif %}
				<span>{{ infoPages|length }}</span>
			</div>
			<table class="products-table companies">
				<tr class="products-table-header">
					<td>Название</td>
					<td>Страна</td>
				</tr>
				{% for infoPage in infoPages %}
					<tr>
						<td>
							<a href="{{ path('v_inf', {'InfoPageID':infoPage.InfoPageID}) }}">{{ infoPage.RusName|raw }}</a>
						</td>
						<td>{{ infoPage.Country }}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<div class="info-line">
				{% if l %}
					Не найдено представительств {{ l == 8 ? 'c цифры' : 'на букву' }} <i>{{ l }}</i>
				{% else %}
					Не найдено представительств по запросу <i>{{ q }}</i>
				{% endif %}
			</div>
		{% endif %}

	{% else %}
		<div class="veterinar-about">
			<div class="veterinar-about-1">
				<p>Вышел в свет справочник ВИДАЛЬ ВЕТЕРИНАР 2013.</p>

				<p>Практикующие ветеринарные врачи и специалисты в области ветеринарии и зоотехнии имеют теперь
					возможность
					в своей повседневной практике воспользоваться научно обоснованной и этичной информацией о
					современных
					лекарственных средствах ветеринарного применения.</p>

				<p>Мы сердечно благодарим все российские и зарубежные компании, поддержавшие издание справочника
					Видаль Ветеринар 2013 г. и создание специального раздела о ветеринарных препаратах на нашем
					сайте.</p>

				<p>Мы с благодарностью примем все конструктивные замечания, направленные на улучшение качества и
					увеличение
					объема информации, представленной в разделе.</p>

				<p>Обращаем внимание специалистов, что большая часть тиража справочника Видаль
					Ветеринар бесплатно распространяется среди ветеринарных врачей на основе уникальной БД
					"Ветеринары России".Если Вы заинтересованы в получении этого и последующих изданий,
					<a target="_new" href="http://www.vidal.ru/netcat_files/File/blank_zayavki_veterinar(1).doc">заполните
						заявку</a> и вышлите ее нам.</p>

				<p>Владельцы животных могут найти в нашем справочнике описания лекарственных
					средств, применяемых при различных заболеваниях у кошек, собак и других домашних питомцев. Но,
					безусловно,
					данная информация является только справочной, и не может заменить консультации у ветеринара.</p>

				<p>Желающие могут приобрести издание Видаль Ветеринар.</p>

				<p>Информация предназначена для ветеринарных врачей, работников ветеринарных служб и
					зоотехнии, студентов сельскохозяйственных и ветеринарных вузов и специалистов, занимающихся
					лекарственных
					обеспечением.</p>
			</div>

			<div class="veterinar-about-2">
				<p>Вы можете приобрести справочники <strong><span>ВИДАЛЬ&nbsp;</span> </strong>"Ветеринарные препараты в
					России"<strong>&nbsp;2013</strong>&nbsp; наиболее удобным для Вас способом:</p>
				<ul>
					<li>
						<a href="{{ path('priobretenie') }}">
							Пересылка по почте в пределах России
						</a> —
						<b>430 руб.</b> (включая почтовые услуги и НДС)
					</li>
					<li>
						<a href="{{ path('priobretenie') }}">
							Приобретение справочников по безналичному расчету самовывозом со склада в Москве
						</a>
						(метро «Кузьминки», Есенинский бульвар, д.1/26 корп. 1, тел (495) 379-05-00) —
						<b>360 руб.</b>
					</li>
				</ul>
			</div>
		</div>
	{% endif %}

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/letters.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/jquery-chosen/chosen.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/jquery-chosen/chosen.css') }}"/>
	<style type="text/css">
		.veterinar-letters {
			margin-top: 10px;
		}
		.veterinar-letters .en {
			clear: both;
		}
		.veterinar-letters .en > span {
			margin:         4px 6px 4px 4px;
			float:          left;
			font-weight:    bold;
			color:          #476173;
			display:        inline-block;
			vertical-align: top;
		}
		#veterinar_type {
			width: 160px;
		}
		#veterinar_input {
			width:       240px;
			margin-left: 8px;
		}
		#veterinar_submit {
			float: right;
		}
		.veterinar-about {
			font-size:   15px;
			margin-top:  22px;
			padding-top: 4px;
			border-top:  1px solid #e1e1e1;
		}
		.veterinar-about-2 {
			margin-top: 35px;
		}
		.companies a {
			text-decoration: none;
		}
		.companies a:hover {
			text-decoration: underline;
		}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/jquery-chosen/chosen.jquery.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.veterinar-search select')
				.chosen({
					disable_search: true
				})
				.on('change', function() {
					$('#letters_page').val(1);
					$('.letter.active').click();
				});

			$('#veterinar_input')
				.autocomplete({
					minLength: 2,
					source:    function(request, response) {
						$.ajax({
							url:      "http://localhost:9200/website/veterinar_autocomplete/_search",
							type:     "POST",
							dataType: "JSON",
							data:     '{ "query":{"query_string":{"query":"' + request.term + '*"}}, "fields":["name"], "size":15, "highlight":{"fields":{"name":{}}} }',
							success:  function(data) {
								response($.map(data.hits.hits, function(item) {
									return {
										label: item.highlight.name,
										value: item.fields.name
									}
								}));
							}
						});
					},
					select:    function(event, ui) {
						if (ui.item) {
							$(this).val(ui.item.value);
						}
					}
				}).data("ui-autocomplete")._renderItem = function(ul, item) {
				return $("<li></li>")
					.data("item.autocomplete", item)
					.append("<a>" + item.label + "</a>")
					.appendTo(ul);
			};
		});
	</script>
{% endblock %}