{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>КАРТА САЙТА</h1>
{% endblock %}


{% block content %}
	<ul id="tree" class="treeview">
		<li class="hasChildren collapsable">
			<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
			<a href="{{ path('articles') }}" target="_blank">Медицинская энциклопедия</a>
			{% include 'VidalMainBundle:Sitemap:encyclopedia.html.twig' %}
		</li>
		<li>
			<a href="{{ path('qa') }}" target="_blank">Ответы специалистов</a>
		</li>
	</ul>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/treeview/jquery.treeview.css') }}"/>
	<style type="text/css">
		.treeview a {
			text-decoration: none !important;
		}
		.treeview a:hover {
			text-decoration: underline !important;
		}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/vidalmain/treeview/jquery.treeview.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/vidalmain/treeview/jquery.treeview.edit.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var $tree = $('.treeview');

			$tree.treeview({
				animated:  "fast",
				collapsed: false
			});
		});
	</script>
{% endblock %}