<form id="search_form" class="search" method="get" action="{{ path('search') }}">
	<div class="search-block border-line border-radius">
		<input class="search-query border-radius" type="text" name="q" placeholder="Искать"
			   value="{{ app.request.attributes.get('_route') == 'search' ? app.request.get('q') }}"/>
		<select class="search-type" name="t">
			<option value="all" {{ app.request.get('t') == 'all' ? 'selected="selected"' }}>
				Везде
			</option>
			<option value="product" {{ app.request.get('t') == 'product' ? 'selected="selected"' }}>
				По препарату
			</option>
			<option value="molecule" {{ app.request.get('t') == 'molecule' ? 'selected="selected"' }}>
				По активному веществу
			</option>
			<option value="atc" {{ app.request.get('t') == 'atc' ? 'selected="selected"' }}>
				По АТХ коду
			</option>
			<option value="firm" {{ app.request.get('t') == 'firm' ? 'selected="selected"' }}>
				По производителю
			</option>
		</select>
	</div>
	<input class="search-button btn-white" type="submit" value="Найти"/>
</form>

{% if app.request.get('_route') != 'searche' %}
	<div style="margin-bottom:15px">
		<a class="btn-white" href="{{ path('searche') }}">Расширенный поиск</a>
		<span class="small">будет доступен только врачам</span>
	</div>
{% endif %}

