{% if banner and is_file(banner.path) %}
	{% set group = 'banner_' ~ banner.group.name %}
	{% set width = banner.group.width %}
	{% set height = banner.group.height %}
	{% set isSwf = banner.isSwf() %}

	<div id="{{ group }}" class="banner" style="width:{{ width }}px; height:{{ height }}px">
		<a href="{{ banner.link }}" class="banner-link"
		   style="width:{{ width }}px; height:{{ height }}px"></a>
		{% if isSwf %}
			<div id="{{ group }}_swf">
				{% if banner.fallback %}
					<img src="{{ banner.fallback.path }}" style="width:{{ width }}px; height:{{ height }}px"/>
				{% endif %}
			</div>
		{% else %}
			<img src="{{ banner.banner.path }}" style="width:{{ width }}px; height:{{ height }}px"/>
		{% endif %}
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			_gaq.push(['_trackEvent', ' {{ group }}', 'show', '%показ баннера%']);
			$('#{{ group }} > a').click(function() {
				_gaq.push(['_trackEvent', '{{ group }}', 'click', '%клик по баннеру%']);
				$.get(Routing.generate('banner_clicked', {'bannerId': '{{ banner.id }}'}));
			});
			{% if isSwf %}
			swfobject.embedSWF("{{ banner.banner.path }}", "{{ group }}_swf", "{{ width }}", "{{ height }}", "9.0.0");
			{% endif %}
		});
	</script>
{% endif %}