{% if banner and is_file(banner.banner.path) %}
	{% set group = 'banner_' ~ banner.id %}
	{% set name = 'banner-' ~ banner.group.name %}
	{% set isSwf = banner.isSwf() %}
	{% set isProd = app.environment == 'prod' %}

	{% if banner.noStretch and not banner.isSwf %}
		{% set width = banner.banner.width %}
		{% set height = banner.banner.height %}
	{% else %}
		{% set width = (banner.width != null ? banner.width : banner.group.width ) %}
		{% set height = (banner.height != null ? banner.height : banner.group.height ) %}
	{% endif %}

	<div id="{{ group }}" class="banner {{ name }}" style="width:{{ width }}px; height:{{ height }}px">
		{% if banner.code is not empty %}
			{{ banner.code|raw }}
		{% else %}
			{% if isSwf %}
				<div id="{{ group }}_swf">
					{% if banner.fallback %}
						<img src="{{ banner.fallback.path }}" style="width:{{ width }}px; height:{{ height }}px"/>
					{% endif %}
				</div>
			{% else %}
				<img src="{{ banner.banner.path }}" style="width:{{ width }}px; height:{{ height }}px"/>
			{% endif %}
		{% endif %}

		<a href="{{ banner.link }}" class="banner-link" style="width:{{ width }}px; height:{{ height }}px"></a>

		{# админам карандашик редактирования #}
		{% if is_granted('ROLE_ADMIN') %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_main_banner_edit', {'id':banner.id}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			{% if isProd %}
			_gaq.push(['_trackEvent', ' {{ group }}', 'show', '%показ баннера%']);
			{% endif %}

			$('#{{ group }} .banner-link').click(function() {
				{% if isProd %}
				_gaq.push(['_trackEvent', '{{ group }}', 'click', '%клик по баннеру%']);
				{% endif %}
				$.get(Routing.generate('banner_clicked', {'bannerId': '{{ banner.id }}'}));
			});

			{% if isSwf and banner.code is empty %}
			if (!/MSIE (\d+\.\d+);/.test(navigator.userAgent)) {
				swfobject.embedSWF("{{ banner.banner.path }}", "{{ group }}_swf", "{{ width }}", "{{ height }}",
					"9.0.0", "/expressInstall.swf", null, {wmode: "opaque"});
			}
			{% endif %}
		});
	</script>

	{% if name == 'banner-top' %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/banner_top.css') }}"/>
	{% endif %}
{% endif %}