{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block title %}
	<h1>{{ kfu.Name|raw }}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('kfu') }}" title="Клинико-фармакологические указатели">КФУ</a>
		<i></i>
		<a href="{{ path('kfu', {'show':kfu.ClPhPointerID}) }}">{{ kfu.Name|raw }}</a>
		{#<span>{{ kfu.Name|raw }}</span>#}
	</div>
{% endblock %}


{% block vidal %}
	<div class="anons">Клинико-фармакологический указатель</div>

	{% if parent %}
		<div class="block">
			<span class="block-head">Входит в группу: </span>
			<a href="{{ path('kfu', {'show':parent.ClPhPointerID}) }}">{{ parent.Name|raw }}</a>
		</div>
	{% endif %}

	{% if products is defined and products is not empty %}
		<div class="block">
			<div class="block-head">Препараты группы</div>
			{% include 'VidalDrugBundle:Vidal:render_products.html.twig' %}
		</div>
	{% else %}
		<div class="no-results block">
			Не найдено препаратов
		</div>
	{% endif %}

{% endblock %}