{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block title %}
	<h1>{{ kfu.Name|raw }}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<span>Клинико-фармакологические указатели</span>
		{#<a href="{{ path('kfu') }}">Клинико-фармакологические указатели</a>#}
	</div>
{% endblock %}


{% block vidal %}

	{% if parent %}
		<div class="block">
			<span class="block-head">Входит в группу: </span>
			<a href="{{ path('kfu_item', {'code':parent.Code}) }}" class="no-underline">
				{{ parent.Name|raw }}
			</a>
		</div>
	{% endif %}

	{% if children is not empty %}
		<div class="block">
			<div class="block-head">Включает группы</div>
			<div class="block-content">
				<table class="products-table">
					<tr class="products-table-header">
						<td>Код</td>
						<td>Название</td>
					</tr>
					{% for child in children %}
						<tr>
							<td>
								{{ child.Code }}
							</td>
							<td>
								<a href="{{ path('kfu_item', {'code':child.Code}) }}" class="no-underline">
									{{ child.Name|raw }}
								</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}

	{% if groups is defined %}
		{% for name, group in groups %}
			<div class="group">
				<div class="molecules">
					{% if group.molecules|length == 1 %}
						<span>Активное вещество: </span>
					{% elseif group.molecules|length > 1 %}
						<div>Активные вещества</div>
					{% endif %}

					{% for MoleculeID in group.molecules %}
						<a href="{{ path('molecule', {'MoleculeID':MoleculeID}) }}">
							{{ molecules[MoleculeID]|upper|raw }}
						</a>
						{% if not loop.last %}
							+
						{% endif %}
					{% endfor %}
				</div>
				{% include 'VidalDrugBundle:Vidal:render_products.html.twig' with {'products':group.products} %}
			</div>
		{% endfor %}
	{% elseif children is empty %}
		<div class="no-results block">
			Не найдено препаратов
		</div>
	{% endif %}

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.molecules {
			margin-top: 15px;
			padding:    3px 5px;
			background: #e6e6e6;
			border:     1px solid #ccc;
		}
		.molecules > div, .molecules > span {
			font-size:     12px;
			color:         #476173;
			margin-bottom: 2px;
		}
		.molecules a {
			text-decoration: none;
			font-weight:     bold;
		}
		.molecules a:hover {
			text-decoration: underline;
		}
	</style>
{% endblock %}