{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block title %}
	<h1>{{ atc.RusName }}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('drugs_atc') }}"
		   title="Анатомо-Терапевтически-Химическая (АТХ) система классификации (ATC)">АТX</a>
		<i></i>
		<span>{{ atc }}</span>
	</div>
{% endblock %}


{% block vidal %}
	<div class="anons">Анатомо-Терапевтически-Химическая (АТХ) система классификации (ATC)</div>

	<div class="block">
		<span class="block-head">АТХ код:</span>
		<span><b>{{ atc }}</b></span>
	</div>

	<div class="block">
		<span class="block-head">Название:</span>
		<span>{{ atc.RusName }}</span>
	</div>

	{% if atc.EngName is not empty and atc.EngName != atc.RusName %}
		<div class="block">
			<span class="block-head">Латинское название:</span>
			<span>{{ atc.EngName }}</span>
		</div>
	{% endif %}

	{% if products1 is defined %}
		<div class="block">
			<div class="block-head">Препараты группы</div>
		</div>

		<table class="products-table">
			<tr class="products-table-header">
				<td class="products-table-loz"></td>
				<td>Название</td>
				<td></td>
				<td title="Показания к применению"></td>
				<td>Форма выпуска</td>
				<td title="Владелец регистрационного удостоверения">Владелец рег/уд</td>
			</tr>

			{# препараты с описанием(2,5) #}
			{% for documentId, product in products1 %}
				{% set id = product.ProductID %}
				<tr class="important">
					<td class="products-table-loz">
						{% if product.NonPrescriptionDrug %}
							<img src="{{ asset('bundles/vidalmain/images/g2.gif') }}" class="loz"
								 title="Препарат разрешен к применению в качестве средств безрецептурного отпуска"/>
						{% endif %}
					</td>
					<td class="products-table-name">
						<a class="no-underline"
						   href="{{ path('document', {'EngName':product.DocumentName, 'DocumentID':product.DocumentID}) }}">
							{{ product.DocumentRusName|raw }}</a>
					</td>
					<td class="products-table-picture">
						{% if pictures[id] is defined %}
							{% set path = '/upload/products/' ~ pictures[id] %}
							{% if is_file(path) %}
								<img src="{{ path }}"/>
							{% endif %}
						{% endif %}
					</td>
					<td class="products-table-indication" title="Показания к применению">
						{% if product.Indication is not empty %}
							<img src="{{ asset('bundles/vidalmain/images/more.png') }}"/>
							<div>{{ product.Indication|raw }}</div>
						{% endif %}
					</td>
					<td class="products-table-zip">
						<div>{{ product.ZipInfo }}</div>
					<span>рег. №: {{ product.RegistrationNumber }}
						{% if product.RegistrationDate is not null %}
							от {{ product.RegistrationDate|date('d.m.Y') }}
						{% endif %}
					</span>
					</td>
					<td class="products-table-company">
						{# компании регистраторы/производители препарата #}
						{% for company in companies[id] %}
							<div>
							<span class="tip">
								{% if company.ItsMainCompany %}
								{% elseif company.CompanyRusNote is not empty %}
									{{ company.CompanyRusNote }}:
								{% else %}
									произведено:
								{% endif %}
							</span>
								<a class="no-underline" href="{{ path('company', {'CompanyID':company.CompanyID}) }}">
									{{ company.LocalName|raw }}
								</a>
								{% if company.Country is not empty  and company.Country != 'Unknown' %}
									<span class="small">({{ company.Country }})</span>
								{% endif %}
							</div>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}

			{# менее значимые препараты #}
			{% for product in products2 %}
				{% set id = product.ProductID %}
				<tr>
					<td class="products-table-loz">
						{% if product.NonPrescriptionDrug %}
							<img src="{{ asset('bundles/vidalmain/images/g2.gif') }}" class="loz"
								 title="Препарат разрешен к применению в качестве средств безрецептурного отпуска"/>
						{% endif %}
					</td>
					<td class="products-table-name">
						<a class="no-underline"
						   href="{{ path('product', {'EngName':product.Name, 'ProductID':product.ProductID}) }}">
							{{ product.RusName|raw }}</a>
					</td>
					<td class="products-table-picture">
						{% if pictures[id] is defined %}
							{% set path = '/upload/products/' ~ pictures[id] %}
							{% if is_file(path) %}
								<img src="{{ path }}"/>
							{% endif %}
						{% endif %}
					</td>
					<td class="products-table-indication"></td>
					<td class="products-table-zip">
						<div>{{ product.ZipInfo }}</div>
					<span>рег. №: {{ product.RegistrationNumber }}
						{% if product.RegistrationDate is not null %}
							от {{ product.RegistrationDate|date('d.m.Y') }}
						{% endif %}
					</span>
					</td>
					<td class="products-table-company">
						{# компании регистраторы/производители препарата #}
						{% for company in companies[id] %}
							<div>
								<span class="tip">
									{% if company.ItsMainCompany %}
									{% elseif company.CompanyRusNote is not empty %}
										{{ company.CompanyRusNote }}:
									{% else %}
										произведено:
									{% endif %}
								</span>
								<a class="no-underline" href="{{ path('company', {'CompanyID':company.CompanyID}) }}">
									{{ company.LocalName|raw }}
								</a>
								{% if company.Country is not empty %}
									<span class="small">({{ company.Country }})</span>
								{% endif %}
							</div>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="block">
			<div class="no-results">
				Не найдено препаратов по AТX коду <span>{{ atc.ATCCode }}</span>
			</div>
		</div>
	{% endif %}

{% endblock %}