<div class="tabs">
	<a href="{{ path('atc') }}" {{ menu_drugs == 'atc' ? 'class="active"' }}
	   title="Анатомо-Терапевтически-Химическая (АТХ) система классификации (ATC)">АТХ</a>
	<a href="{{ path('kfu') }}" {{ menu_drugs == 'kfu' ? 'class="active"' }}
	   title="Клинико-фармакологические указатели">КФУ</a>
	<a href="{{ path('firms') }}" {{ menu_drugs == 'firms' ? 'class="active"' }}
		>Фирмы-производители</a>
	<a href="{{ path('inf') }}" {{ menu_drugs == 'inf' ? 'class="active"' }}
		title="Представительства фирм">Представительства</a>
</div>