<div class="menu-drugs">
	<div class="tabs">
		{#<a href="{{ path('kfu') }}" {{ menu_drugs == 'kfu' ? 'class="active"' }}#}
		   {#title="Клинико-фармакологический указатель">КФУ</a>#}
		<a href="{{ path('atc') }}" {{ menu_drugs == 'atc' ? 'class="active"' }}
		   title="Анатомо-Терапевтически-Химическая (АТХ) система классификации (ATC)">АТХ</a>
		<a href="{{ path('nosology') }}" {{ menu_drugs == 'nosology' ? 'class="active"' }}
			>Нозологический указатель</a>
		<a href="{{ path('pharm') }}" {{ menu_drugs == 'pharm' ? 'class="active"' }}
		   title="Фармако-терапевтические группы ГосРеестра МинЗдрава РФ">ФТГ</a>
		<a href="{{ path('clinic_groups') }}" {{ menu_drugs == 'clinic_groups' ? 'class="active"' }}
		   title="Клинико-фармакологические группы">КФГ</a>
		<a href="{{ path('companies') }}" {{ menu_drugs == 'companies' ? 'class="active"' }}
		   title="Представительства и фирмы-производители">Компании</a>
	</div>
</div>