<div class="menu-drugs">
	<div class="tabs">
		<a href="{{ path('products') }}" {{ menu_drugs == 'products' ? 'class="active"' }}
		   title="Поиск препаратов и БАДов по алфавиту">По алфавиту</a><a
			href="{{ path('atc') }}" {{ menu_drugs == 'atc' ? 'class="active"' }}
			title="Анатомо-Терапевтически-Химическая (АТХ) система классификации (ATC)">АТХ</a><a
			href="{{ path('nosology') }}" {{ menu_drugs == 'nosology' ? 'class="active"' }}
			>Нозологический указатель</a><a
			href="{{ path('kfu') }}" {{ menu_drugs == 'kfu' ? 'class="active"' }}
			title="Клинико-фармакологические указатели">КФУ</a><a
			href="{{ path('pharm') }}" {{ menu_drugs == 'pharm' ? 'class="active"' }}
			title="Фармако-терапевтические группы ГосРеестра МинЗдрава РФ">ФТГ</a><a
			href="{{ path('companies') }}" {{ menu_drugs == 'companies' ? 'class="active"' }}
			title="Представительства и фирмы-производители">Компании</a>
	</div>
</div>