{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block vidal %}
	{% if menu_drugs is defined %}
		{% include 'VidalDrugBundle:Drugs:menu_drugs.html.twig' %}
	{% endif %}

	<div class="anons anons-drugs">Нозологические указатели</div>

	{% include 'VidalDrugBundle:Drugs:nosology_generated.html.twig' %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/treeview/jquery.treeview.css') }}"/>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/vidalmain/treeview/jquery.treeview.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/vidalmain/treeview/jquery.treeview.edit.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/vidalmain/treeview/jquery.treeview.async.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var $tree = $('.treeview');

			$tree.treeview({
				animated:  "fast",
				collapsed: true,
				url:       Routing.generate('nosology_ajax'),
				ajax:      {
					type: "post"
				}
			});

			$('#tree_collapse').on('click', function() {
				$tree.find('ul').hide();
				$tree.find('div.collapsable-hitarea').removeClass('collapsable-hitarea').addClass('expandable-hitarea');
				$tree.find('div.lastCollapsable-hitarea').removeClass('lastCollapsable-hitarea').addClass('lastExpandable-hitarea');
				$tree.find('li.collapsable').removeClass('collapsable').addClass('expandable');
				$tree.find('li.lastCollapsable').removeClass('lastCollapsable').addClass('lastExpandable');
				return false;
			});

			$tree.on('click', 'i', function() {
				location.href = Routing.generate('nosology_item', {'Code': $(this).closest('li').attr('id') });
				return false;
			});
		});
	</script>
{% endblock %}