{# Тут будет генерация тела из кусочков с лейблами #}
<style>
    .patry-box{
        position: relative;
    }
</style>
{% if sex == 1 and party == 'all' %}
    <div class="patry-box">
        <img src="{{ asset('bundles/vidalmain/images/disease/2.png') }}" usemap="#Navigation">
        <p>
        <map id="Navigation" name="Navigation">
            <area shape="poly" intro="head" coords="110,10, 162,10, 162,60, 110,60" href="#" title="Голова">
            <area shape="poly" intro="null" data-key="7" coords="110,60, 162,60, 162,80, 110,80" href="#" title="Шея">
            <area shape="poly" intro="null" data-key="8" coords="110,80, 162,80, 162,130, 110,130" href="#" title="Грудь">
            <area shape="poly" intro="null" data-key="10" coords="110,130, 162,130, 162,150, 110,150" href="#" title="Врехняя часть живота">
            <area shape="poly" intro="null" data-key="11" coords="110,150, 162,150, 162,170, 110,170" href="#" title="Средняя часть живота">
            <area shape="poly" intro="null" data-key="31" coords="110,170, 162,170, 162,190, 110,190" href="#" title="Нижняя часть живота">
            <area shape="poly" intro="null" data-key="13" coords="110,200, 162,200, 162,230, 110,230" href="#" title="Гениталии">
            <area shape="poly" intro="null" data-key="6" coords="105,240, 167,240, 167,420, 105,420" href="#" title="Ноги">
            <area shape="poly" intro="null" data-key="9" coords="80,90, 105,90, 105,260, 80,260" href="#" title="Руки">
            <area shape="poly" intro="null" data-key="9" coords="175,90, 200,90, 200,260, 175,260" href="#" title="Руки">
        </map>
        </p>
    </div>
{% elseif sex == 2 and party == 'all' %}
    <div class="patry-box">
        <img src="{{ asset('bundles/vidalmain/images/disease/3.png') }}" usemap="#Navigation">
        <p>
            <map id="Navigation" name="Navigation">
                <area shape="poly" intro="head" coords="120,20,  172,20,  172,70,  120,70" href="#" title="Голова">
                <area shape="poly" intro="null" data-key="26" coords="120,70,  172,70,  172,90,  120,90" href="#" title="Шея">
                <area shape="poly" intro="null" data-key="27" coords="120,90,  172,90,  172,140, 120,140" href="#" title="Грудь">
                <area shape="poly" intro="null" data-key="29" coords="120,140, 172,140, 172,155, 120,155" href="#" title="Врехняя часть живота">
                <area shape="poly" intro="null" data-key="30" coords="120,155, 172,155, 172,170, 120,170" href="#" title="Средняя часть живота">
                <area shape="poly" intro="null" data-key="31" coords="120,170, 172,170, 172,190, 120,190" href="#" title="Нижняя часть живота">
                <area shape="poly" intro="null" data-key="38" coords="120,190, 172,190, 172,220, 120,220" href="#" title="Гениталии">
                <area shape="poly" intro="null" data-key="25" coords="120,220, 172,220, 177,420, 120,420" href="#" title="Ноги">

                <area shape="poly" intro="null" data-key="28" coords="100,90,  115,90, 115,250, 100,250" href="#" title="Руки">
                <area shape="poly" intro="null" data-key="28" coords="180,90, 200,90, 200,250, 180,250" href="#" title="Руки">
            </map>
        </p>
    </div>
{% elseif sex == 1 and party == 'all-back' %}
    <div class="patry-box">
        <img src="{{ asset('bundles/vidalmain/images/disease/1.png') }}" usemap="#Navigation">
        <p>
            <map id="Navigation" name="Navigation">
                <area shape="poly" intro="head"  coords="110,10, 170,10, 170,60, 110,60" href="#" title="Голова">
                <area shape="poly" intro="null" data-key="7" coords="110,60, 170,60, 170,80, 110,80" href="#" title="Шея">
                <area shape="poly" intro="null" data-key="16" coords="110,80, 170,80, 170,180, 110,180" href="#" title="Спина">
                <area shape="poly" intro="null" data-key="17" coords="110,180, 170,180, 170,200, 110,200" href="#" title="Поясница">
                <area shape="poly" intro="null" data-key="18" coords="110,200, 170,200, 170,230, 110,230" href="#" title="Ягодицы">
                <area shape="poly" intro="null" data-key="6" coords="110,250, 170,250, 170,420, 110,420" href="#" title="Ноги">
                <area shape="poly" intro="null" data-key="9" coords="80,90, 105,90, 105,260, 80,260" href="#" title="Руки">
                <area shape="poly" intro="null" data-key="9" coords="175,90, 200,90, 200,260, 175,260" href="#" title="Руки">
            </map>
        </p>
    </div>
{% elseif sex == 2 and party == 'all-back' %}
    <div class="patry-box">
        <img src="{{ asset('bundles/vidalmain/images/disease/4.png') }}" usemap="#Navigation">
        <p>
            <map id="Navigation" name="Navigation">
                <area shape="poly" intro="head"  coords="110,20, 170,20, 170,60, 110,60" href="#" title="Голова">
                <area shape="poly" intro="null" data-key="26" coords="110,60, 170,60, 170,80, 110,80" href="#" title="Шея">
                <area shape="poly" intro="null" data-key="35" coords="110,90, 170,90, 170,180, 110,180" href="#" title="Спина">
                <area shape="poly" intro="null" data-key="36" coords="110,180, 170,180, 170,200, 110,200" href="#" title="Поясница">
                <area shape="poly" intro="null" data-key="37" coords="110,200, 170,200, 170,230, 110,230" href="#" title="Ягодицы">
                <area shape="poly" intro="null" data-key="25" coords="110,230, 170,230, 170,420, 110,420" href="#" title="Ноги">
                <area shape="poly" intro="null" data-key="28" coords="80,90, 105,90, 105,260, 80,260" href="#" title="Руки">
                <area shape="poly" intro="null" data-key="28" coords="175,90, 200,90, 200,260, 175,260" href="#" title="Руки">
            </map>
        </p>
    </div>
{% elseif sex == 1 and party == 'head' %}
    <div class="patry-box">
        <img src="{{ asset('bundles/vidalmain/images/disease/7.png') }}" usemap="#Navigation">
        <p>
            <map id="Navigation" name="Navigation">
                <area shape="poly" intro="null" data-key="5" coords="115,255, 175,255, 175,280, 115,280" href="#" title="Рот">
                <area shape="poly" intro="null" data-key="4" coords="120,210, 170,210, 170,250, 120,250" href="#" title="Нос">
                <area shape="poly" intro="null" data-key="2" coords="90,185, 200,185, 200,215, 90,215" href="#" title="Глаза">
                <area shape="poly" intro="null" data-key="1" coords="95,150, 195,150, 195,180, 95,180" href="#" title="Лоб">
                <area shape="poly" intro="null" data-key="3" coords="60,160, 80,160, 80,260, 60,260" href="#" title="Уши">
                <area shape="poly" intro="null" data-key="3" coords="215,160, 235,160, 235,260, 215,260" href="#" title="Уши">
            </map>
        </p>
    </div>
{% elseif sex == 2 and party == 'head' %}
    <div class="patry-box">
        <img src="{{ asset('bundles/vidalmain/images/disease/5.png') }}" usemap="#Navigation">
        <p>
            <map id="Navigation" name="Navigation">
                <area shape="poly" intro="null" data-key="20" coords="90,100, 190,100, 190,130, 90,130" href="#" title="Лоб">
                <area shape="poly" intro="null" data-key="21" coords="90,130, 190,130, 190,155, 90,155" href="#" title="Глаза">
                <area shape="poly" intro="null" data-key="23" coords="100,160, 170,160, 170,180, 100,180" href="#" title="Нос">
                <area shape="poly" intro="null" data-key="24" coords="100,190, 170,190, 170,210, 100,210" href="#" title="Рот">

                <area shape="poly" intro="null" data-key="22" coords="65,130, 85,130, 85,170, 65,170" href="#" title="Уши">
                <area shape="poly" intro="null" data-key="22" coords="190,130, 210,130, 210,170, 190,170" href="#" title="Уши">
            </map>
        </p>
    </div>
{% endif %}
