{% extends 'VidalMainBundle::layout.html.twig' %}

{% block content %}

    <div class="breadcrumbs">
        <a href="{{ path('index') }}">Видаль</a>
        <i></i>
        <span>Симптомы</span>
    </div>
    <table style="width: 600px">
        <tr>
            <td>
                Пол
                <select class="symptom-select" id="select-sex">
                    <option value="1">Мужской</option>
                    <option value="2">Женский</option>
                </select>
            </td>
            <td style="text-align: right">
                Часть тела
                <select class="symptom-select" id="select-party">
                    <optgroup label="Голова">
                        <option value="1">Лоб</option>
                        <option value="15">Затылок</option>
                        <option value="2">Глаза</option>
                        <option value="3">Уши</option>
                        <option value="4">Нос</option>
                        <option value="5">Губы</option>
                    </optgroup>
                    <optgroup label="Туловище">
                        <option value="7">Шея</option>
                        <option value="7">Грудь</option>
                        <option value="16">Спина</option>
                        <option value="17">Поясница</option>
                        <option value="10">Верхняя часть живота</option>
                        <option value="11">Средняя часть живота</option>
                        <option value="31">Нижняя часть живота</option>
                        <option value="27">Ягодицы</option>
                        <option value="13">Гениталии</option>
                    </optgroup>
                    <optgroup label="Конечности">
                        <option value="9">Руки</option>
                        <option value="6">ноги</option>
                    </optgroup>
                    <option value="14">Общие симптомы</option>
                </select>
            </td>
        </tr>
        <tr>
            <td id="body-render">
                {{ render(controller('VidalMainBundle:Symptom:body')) }}
            </td>
            <td style="vertical-align: top; text-align: right">
                <ul class="list-disease" id="select-symptom">
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                </ul>
                <br />
                <br />
                <ul class="list-disease" id="select-state">
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                    <li>болит голова</li>
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}




{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/vidalmain/jquery-chosen/chosen.jquery.min.js') }}"></script>
    <script>
        // Всякие глобальные переменные
        var sex = 1;
        var party = 'all';
        var subParty = 'all';
        var symptom  = 'all';

        $(document).ready(function(){
            $('select').chosen({
                disable_search: true,
                no_results_text: "не найдено"
            });

            $('area').click(function(){
                if ($(this).attr('intro') == 'head' ){
                    party = 'head';
                    renderBody();
                }
                return false;
            });

            // При смене пола меняет картику
            $('#select-sex').change(function(){
                sex = $('#select-sex').val();
                renderBody();
            });

            $('#select-party li').change(function(){
                subParty = $(this).attr('data-key');
                renderSymptom();
            });

            function renderSymptom(){
                url  = Routing.generate('render_symptom', { 'party' : subParty });
                $.ajax({
                    url: url,
                    cache: false,
                    success: function(html){
                        $('#select-symptom').html(html);
                    }
                });
            };

            function renderBody(){
                url  = Routing.generate('symptom_body', { 'sex' : sex , 'party' : party });
                $.ajax({
                    url: url,
                    cache: false,
                    success: function(html){
                        $("#body-render").html(html);
                    }
                });
            };

            function renderState(){
                url  = Routing.generate('render_state', { 'symptom' : symptom });
                $.ajax({
                    url: url,
                    cache: false,
                    success: function(html){
                        $('#select-state').html(html);
                    }
                });
            };

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .symptom-select{
            width: 200px;
            text-align: left;
        }
        .list-disease{
            border: 1px solid #D71344;
            border-radius: 4px;
            height: 300px;
            overflow-y: auto;
            padding-left: 0;
        }
        .list-disease li{
            list-style: none;
            padding: 3px 5px;
            margin-left: 0;
            border-bottom: 1px solid #aaaaaa;
            text-align: left;
        }
        .list-disease li:hover{
            background: #DDDDDD;
            cursor: pointer;
        }

    </style>
{% endblock %}