{% if tags is not empty %}
	<div class="tags no-selection">
		{% for key, tag in tags %}
			{% set type = tag|type %}
			{# тег #}
			{% if type == 'Tag' %}
				{% if tag.publications.count > 1 %}
					<a href="{{ path('tag_news', {'id':tag.id}) }}" target="_blank"
					   title="новостей по теме «{{ tag.text }}»: {{ tag.publications.count }}">
						{{ key }}
					</a>
				{% endif %}

				{# атх #}
			{% elseif type == 'ATC' %}
				<a href="{{ path('atc_item', {'ATCCode':tag.ATCCode}) }}" target="_blank"
				   title="анатомо-терапевтически-химическая (АТХ) система классификации (ATC)">
					{{ key }}
				</a>

				{# вещество #}
			{% elseif type == 'Molecule' %}
				<a href="{{ path('molecule', {'MoleculeID':tag.MoleculeID}) }}" target="_blank"
				   title="активное вещество">
					{{ key }}
				</a>

				{# представительство #}
			{% elseif type == 'InfoPage' %}
				<a href="{{ path('inf_item', {'InfoPageID':tag.InfoPageID}) }}" target="_blank"
				   title="представительство">
					{{ key }}
				</a>

				{# нозология #}
			{% elseif type == 'Nozology' %}
				<a href="{{ path('nosology_item', {'Code':tag.Code}) }}" target="_blank"
				   title="нозологический указатель">
					{{ key }}
				</a>

			{% endif %}
		{% endfor %}
	</div>
{% endif %}


{% if productGroups is not empty %}
	<div class="products announcement">
		<div class="anons-footer expanded no-selection">Описания препаратов</div>

		<ul class="ul-style" style="display: block;">
			{% for key, products in productGroups %}
				<li>
					{% if products|length == 1 %}
						<a href="{{ path('product', {'EngName':products[0].Name, 'ProductID':products[0].ProductID}) }}"
						   target="blank" class="no-underline">
							{{ products[0].RusName|raw }}
						</a>
					{% else %}
						{% set ids = [] %}
						{% for product in products %}
							{% set ids = ids|merge([product.ProductID]) %}
						{% endfor %}
						<a href="{{ path('product-group', {'ids':ids|join('-')}) }}" target="blank"
						   class="no-underline">
							{{ products[0].RusName|raw }}
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}