{% extends 'VidalMainBundle::layout.html.twig' %}


{% block content %}
	<h1>{{ article }}</h1>

	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('articles') }}">Статьи</a>
		<i></i>
		<a href="{{ path('rubrique', {'rubrique':rubrique.rubrique}) }}">{{ rubrique }}</a>
	</div>

	<div class="article-wrap">
		<div class="article-body">
			{{ article.body|raw }}
		</div>
		<div class="article-footer">
			<span class="article-date">{{ article.created|date('d.m.Y') }}</span>
		</div>
	</div>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/article.css') }}"/>
{% endblock %}