{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>
		{{ article.title|raw }}
		{# админам карандашик редактирования #}
		{% if is_granted('ROLE_ADMIN') %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_drug_article_edit', {'id':article.id}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}
	</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('articles') }}">Медицинская энциклопедия</a>
		<i></i>
		<a href="{{ path('rubrique', {'rubrique':rubrique.rubrique}) }}">{{ rubrique }}</a>
	</div>
{% endblock %}


{% block content %}
	{% include 'VidalMainBundle:Article:render_article.html.twig' %}

	{% if products is defined and products is not empty %}
		<div class="documents-anons anons">
			<b>{{ article.title|raw }}</b>: применяемые препараты безрецептурного отпуска
		</div>
		{% include 'VidalDrugBundle:Vidal:render_products.html.twig' %}
	{% endif %}

	{% if pre_products is defined and pre_products is not empty %}
		<div class="documents-anons anons">
			<b>{{ article.title|raw }}</b>: применяемые рецептурные препараты
		</div>
		{% include 'VidalDrugBundle:Vidal:render_products.html.twig' with {'products':pre_products, 'companies':pre_companies, 'pictures':pre_pictures, 'infoPages':pre_infoPages} %}
	{% endif %}

	{% if documents is defined and documents is not empty %}
		<div class="documents-anons anons">
			<b>{{ article.title|raw }}</b>: применяемые вещества
		</div>
		<ul class="ul-style documents">
			{% for document in documents %}
				<li>
					<a href="{{ path('document', {'EngName':document.Name, 'DocumentID':document.DocumentID}) }}"
					   class="no-underline">
						{{ document.RusName|ucwords|raw }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="anons red-warning">
		Перед началом применения любого препарата посоветуйтесь со специалистом
		и ознакомьтесь с инструкцией по применению.
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
	<style type="text/css">
		.documents-anons {
			margin-top: 22px;
		}
		.red-warning {
			color:      rgb(255, 0, 0);
			font-size:  12px;
			margin-top: 20px;
		}
		.ul-style + .documents {
			font-size: 16px;
		}
	</style>
{% endblock %}