{# новости #}
{% if object.publications|length %}
	<div class="anons-footer">
		Новости по {{ label }} <span>{{ item }}</span>
	</div>
	<ul class="ul-style">
		{% for publication in object.publications %}
			<li>
				<a href="{{ path('publication', {'id':publication.id}) }}" target="_blank" class="no-underline">
					{{ publication.title|raw }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}

{# энциклопедия #}
{% if object.articles|length %}
	<div class="anons-footer">
		Материалы медицинской энциклопедии по {{ label }} <span>{{ item }}</span>
	</div>
	<ul class="ul-style">
		{% for article in object.articles %}
			<li>
				<a href="{{ path('article', {'rubrique':article.rubrique.rubrique, 'link':article.link}) }}"
				   target="_blank" class="no-underline">
					{{ article.title|raw }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}

{# специалистам #}
{% if object.arts|length %}
	<div class="anons-footer">
		Материалы для специалистов по {{ label }} <span>{{ item }}</span>
	</div>
	<ul class="ul-style">
		{% for art in object.arts %}
			<li>
				<a class="no-underline" target="_blank"
				   href="{{ path('art', {'url':art.rubrique.url ~ '/' ~ (art.type ? art.type.url ~ '/') ~ (art.category ? art.category.url ~ '/') ~ art.link ~ '~' ~ art.id }) }}">{{ art.title|raw }}</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
