{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>НОВОСТИ ФАРМАЦЕВТИЧЕСКИХ КОМПАНИЙ</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('vracham') }}">Информация для специалистов</a>
	</div>
{% endblock %}


{% block content %}
	{% include 'VidalMainBundle:Index:render_pharm_articles.html.twig' %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			// надо ссылки на примечания сделать с уникальными идентификаторами, приписываем ID статьи в конец
			$('.pharm-article a[href^="#"]').each(function() {
				var $link = $(this);
				var pharmId = $link.closest('.pharm-article').attr('data');
				var href = $link.attr('href') + pharmId;
				var name = $link.attr('name') + pharmId;
				$link.attr('href', href).attr('name', name);
			});
		});
	</script>
{% endblock %}