{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>
		{% if isAdmin %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_drug_pharmcompany_edit', {'id':company.id}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}

		{{ company.title|raw }}
	</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('vracham') }}">Информация для специалистов</a>
		<i></i>
		<a href="{{ path('pharma_news') }}">Новости фармацевтических компаний</a>
	</div>
{% endblock %}


{% block content %}
	{% include 'VidalMainBundle:Index:render_pharm_articles.html.twig' %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
{% endblock %}