{% extends 'VidalMainBundle::layout.html.twig' %}


{% set document = portfolio.DocumentID %}
{% set infoPage = document.infoPages[0] is defined ? document.infoPages[0] : null %}


{% block title %}
	<h1>{{ portfolio.title|raw }}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('vracham') }}">Информация для специалистов</a>
		<i></i>
		<a href="{{ path('art', {'url':'podrobno-o-preparate'}) }}">Портфели препаратов</a>
	</div>
{% endblock %}


{% block content %}
	{# Публикация #}
	<div class="publication text relative">
		
		{# видео #}
		{% if portfolio.video and portfolio.video.path is defined %}
			{% set width = portfolio.videoWidth > 480 ? 480 : portfolio.videoWidth %}
			{% set height = portfolio.videoWidth > 480
			? (portfolio.videoHeight * 480 / portfolio.videoWidth) | number_format(0)
			: portfolio.videoHeight %}

			<p id="player1"></p>

			<script src="{{ asset('bundles/vidalmain/javascripts/swfobject.js') }}" type="text/javascript"></script>
			<script type="text/javascript">
				var so = new SWFObject('/players/uppod.swf', 'mpl', {{ width }}, {{ height }}, '8');
				so.addParam('allowscriptaccess', 'always');
				so.addParam('allowfullscreen', 'true');
				so.addVariable('height', '{{ height }}');
				so.addVariable('width', '{{ width }}');
				so.addVariable('file', '{{ portfolio.video.path }}');
				so.addVariable('bufferlength', '10');
				so.addVariable('autostart', 'false');
				so.addVariable('enablejs', 'true');
				so.write('player1');
			</script>
		{% endif %}

		{{ portfolio.body|raw }}

		{% if isAdmin %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_drug_pharmportfolio_edit', {'id':portfolio.id}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}
	</div>

	{# Препарат #}
	<div class="block product">
		<span class="block-head">Препарат:</span>
		<a href="{{ path('document', {'EngName':document.name, 'DocumentID':document.DocumentID}) }}"
		   class="no-underline bold">
			{{ document.RusName|raw }}
		</a>
	</div>

	{# Представительство #}
	{% if infoPage %}
		<div class="block">
			<span class="block-head">Представительство:</span>
			<a href="{{ path('inf_item', {'InfoPageID':infoPage.InfoPageID}) }}"
			   class="no-underline bold">
				{{ infoPage.RusName|raw }}
			</a>
		</div>
	{% endif %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.product {
			border-top:  1px solid #ccc;
			padding-top: 16px;
		}
	</style>
{% endblock %}