{% set video = article.video and article.video.path is defined ? article.video.path : null %}

<div class="article-wrap text">
	{% if article.video and article.video.path is defined %}
		{% set width = article.videoWidth > 480 ? 480 : article.videoWidth %}
		{% set height = article.videoWidth > 480
		? (article.videoHeight * 480 / article.videoWidth) | number_format(0)
		: article.videoHeight %}

		<p id="player1"></p>

		<script src="{{ asset('bundles/vidalmain/javascripts/swfobject.js') }}" type="text/javascript"></script>
		<script type="text/javascript">
			var so = new SWFObject('/players/uppod.swf', 'mpl', {{ width }}, {{ height }}, '8');
			so.addParam('allowscriptaccess', 'always');
			so.addParam('allowfullscreen', 'true');
			so.addVariable('height', '{{ height }}');
			so.addVariable('width', '{{ width }}');
			so.addVariable('file', '{{ article.video.path }}');
			so.addVariable('bufferlength', '10');
			so.addVariable('autostart', 'false');
			so.addVariable('enablejs', 'true');
			so.write('player1');
		</script>
	{% endif %}

	<div class="article-body text">
		{{ article.body|raw }}
	</div>
	<div class="article-footer">
		<span class="article-date">{{ article.date|date('d.m.Y') }}</span>
	</div>

	{#{% if is_granted('ROLE_ADMIN') %}#}
		{#{{ render(controller('VidalMainBundle:Tag:tags', {'object':article})) }}#}
	{#{% endif %}#}
</div>