{% extends 'VidalMainBundle::layout.html.twig' %}


{% block content %}
	<h1>{{ rubrique }}</h1>

	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('articles') }}">Статьи</a>
		<i></i>
		<span>{{ rubrique }}</span>
	</div>

	{% if articles|length %}
		<div class="articles">
			{% for article in articles %}
				<div class="article">
					<div class="article-title">
						<a href="{{ path('article', {'rubrique':rubrique.rubrique, 'link':article.link}) }}">{{ article }}</a>
					</div>
					<div class="article-announse">
						{{ article.announce|raw }}
					</div>
					<div class="article-footer">
						<span class="article-date">{{ article.created|date('d.m.Y') }}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/article.css') }}"/>
{% endblock %}