{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>{{ article }}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('vracham') }}">Информация для специалистов</a>
		{% if app.environment == 'dev' %}
			{% for path in paths %}
				<i></i>
				<a href="/app_dev.php{{ path.url }}">{{ path }}</a>
			{% endfor %}
		{% else %}
			{% for path in paths %}
				<i></i>
				<a href="{{ path.url }}">{{ path }}</a>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}


{% block content %}
	<div class="article-wrap">
		{# админам карандашик редактирования #}
		{% if is_granted('ROLE_ADMIN') %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_drug_article_edit', {'id':article.id}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}

		<div class="article-body">
			{{ article.body|raw }}
		</div>
		<div class="article-footer">
			<span class="article-date">{{ article.date|date('d.m.Y') }}</span>
		</div>
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/article.css') }}"/>
{% endblock %}