{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>Электронный справочник Видаль</h1>
{% endblock %}


{% block nav %}
    <div class="breadcrumbs">
        <a href="{{ path('index') }}">Видаль</a>
        <i></i>
        <a href="{{ path('vracham') }}">Информация специалистам</a>
        <i></i>
        <a href="{{ path('vracham_expert') }}">Видаль-Эксперт</a>
        <i></i>
        <a href="{{ path('vracham_expert_cd') }}">Электронный справочник Видаль</a>
    </div>
{% endblock %}

{% block content %}
	{{ render(controller('VidalMainBundle:Index:Module', {'moduleId':6})) }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/article.css') }}"/>
{% endblock %}