{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>ИНФОРМАЦИЯ ДЛЯ СПЕЦИАЛИСТОВ</h1>
{% endblock %}


{% block content %}
	<a class="aa" href="{{ path('vracham_expert_cd') }}"><b>Электронный справочник Видаль</b></a>
	<br/>
	<br/>
	<a class="aa" href="http://vidal.cloudapp.net/mobile/" target="_blank"><b>Поиск аналогов по МНН</b></a>
	<br/>
	<br/>
	<div class="rubriques">
		{% set perColumn = rubriques|length // 2 %}

		{% for rubrique in rubriques %}
			{% if loop.index % perColumn == 1 %}
				<div>
				<ul class="ul">
			{% endif %}

			<li>
				<a href="{{ path('art', {'url':rubrique.url}) }}">
					{{ rubrique.title }}
					{# админам карандашик редактирования #}
					{% if isAdmin %}
						<a class="admin-edit fade" target="_blank"
						   href="{{ path('admin_vidal_drug_artrubrique_edit', {'id':rubrique.id}) }}">
							<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
						</a>
					{% endif %}
				</a>
			</li>

			{% if loop.index % perColumn == 0 %}
				</ul>
				</div>
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/article.css') }}"/>
	<style>
		{{ parent() }}
		.aa {
			margin-right: 15px;
			font-size:    15px;
			font-weight:  bold;
		}
	</style>
{% endblock %}