{% extends 'VidalMainBundle::layout.html.twig' %}


{% block middle %}
<div class="pages">
    {# Школа гастрита #}
    <div class="page page-main">
        <div class="block-1">
            <table style="width: 100%; height: 344px">
                <tr>
                    <td style="vertical-align: top">
                        <div style="margin-left: 80px; padding-top: 30px;">
                            <div class="block-1-title">
                                коллост
                            </div>
                            <div>
                                <br />
                                <br />
                                <img src="{{ asset('bundles/vidalmain/images/collost/blue-line.png') }}">
                                <br />
                                <br />
                            </div>
                            <div class="block-1-text">
                                коллаген — естественная <br />
                                основа вашей красоты
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <img src="{{ asset('bundles/vidalmain/images/collost/box.png') }}?v=1">
                    </td>
                </tr>
            </table>
        </div>
        <div class="block-2">
            <div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
                <div class="block-2-title">
                    КОЛЛОСТ<sup>®</sup> помогает при...
                </div>
                <div>
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}">
                    <br />
                    <br />
                </div>
                <table style="width: 100%; margin-top: 60px">
                    <tr>
                        <td style="text-align: center; width: 25%">
                            <img src="{{ asset('bundles/vidalmain/images/collost/icon-3.png') }}">
                            <br />
                            <br />
                            <div class="icon-text">
                                возрастных изменениях
                            </div>
                        </td>
                        <td style="text-align: center; width: 25%">
                            <img src="{{ asset('bundles/vidalmain/images/collost/icon-4.png') }}">
                            <br />
                            <br />
                            <div class="icon-text">
                                постакне
                            </div>
                        </td>
                        <td style="text-align: center; width: 25%">
                            <img src="{{ asset('bundles/vidalmain/images/collost/icon-1.png') }}">
                            <br />
                            <br />
                            <div class="icon-text">
                                стриях и рубцах
                            </div>
                        </td>
                        <td style="text-align: center; width: 25%">
                            <img src="{{ asset('bundles/vidalmain/images/collost/icon-2.png') }}">
                            <br />
                            <br />
                            <div class="icon-text">
                                реабилитации
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="block-3">
            <div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
                <div class="block-3-title">
                    Коллост<sup>®</sup>: проверено временем
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/blue-line.png') }}" style="margin-left: 10px">
                    <br />
                    <br />
                </div>
                <div class="slider"> <!-- Сам контейнер -->
                    <div class="slider-box">
                        <div class="slider-item" data="1"> <!-- Элемент контейнера -->
                            <table>
                                <tr>
                                    <td class="slider-item-img">
                                        <img src="{{ asset('bundles/vidalmain/images/collost/i1.png') }}" style="margin-left: 10px">
                                    </td>
                                    <td class="slider-item-text">
                                        Коллаген – вещество,
                                        притягивающее внимание
                                        специалистов уже более четырех
                                        десятков лет. <br />
                                        Применение коллагена в
                                        косметологии показало
                                        удивительные результаты. <br />
                                        Однако не только пластической
                                        хирургии коллаген открывает
                                        новые перспективы.
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="slider-item" data="2"> <!-- Элемент контейнера -->
                            <table>
                                <tr>
                                    <td class="slider-item-img">
                                        <img src="{{ asset('bundles/vidalmain/images/collost/i2.png') }}" style="margin-left: 10px">
                                    </td>
                                    <td class="slider-item-text">
                                        Исследования также
                                        показывают, что применение
                                        коллагеновых мембран не
                                        только помогает ускорить
                                        процесс заживления, <br />

                                        но и снизить воспалительный
                                        процесс и болевые ощущения. <br />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="slider-item" data="3"> <!-- Элемент контейнера -->
                            <table>
                                <tr>
                                    <td class="slider-item-img">
                                        <img src="{{ asset('bundles/vidalmain/images/collost/i3.png') }}" style="margin-left: 10px">
                                    </td>
                                    <td class="slider-item-text">
                                        Перед накладыванием мембраны её
                                        замачивают в растворе антисептика,
                                        антибиотика или 0,9%-ном растворе NaCl. Рану
                                        также обрабатывают. Вымоченную мембрану
                                        обрезают по форме повреждения (для этого
                                        может понадобиться более одной мембраны).
                                        Далее накладывают марлевую повязку, также
                                        смоченную в растворе хлорида натрия. По мере
                                        подсыхания повязку постепенно увлажняют.<br />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="slider-item" data="4"> <!-- Элемент контейнера -->
                            <table>
                                <tr>
                                    <td class="slider-item-img">
                                        <img src="{{ asset('bundles/vidalmain/images/collost/i4.png') }}" style="margin-left: 10px">
                                    </td>
                                    <td class="slider-item-text">
                                        Таким образом, коллагеновый
                                        материал способствует формированию на
                                        месте повреждения полноценной здоровой
                                        ткани. <br />

                                        Сама же мембрана постепенно рассасывается. <br />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="slider-item" data="5"> <!-- Элемент контейнера -->
                            <table>
                                <tr>
                                    <td class="slider-item-img">
                                        <img src="{{ asset('bundles/vidalmain/images/collost/i5.png') }}" style="margin-left: 10px">
                                    </td>
                                    <td class="slider-item-text">
                                        Кроме того, очевидным
                                        преимуществом является и
                                        отсутствие необходимости в
                                        частых перевязках – их достаточно
                                        осуществлять раз в 5-7дней. <br />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="mini-buttons">
                        <div class="btn-circle" id="circle-1" data="1"> </div>
                        <div class="btn-circle" id="circle-2" data="2"> </div>
                        <div class="btn-circle" id="circle-3" data="3"> </div>
                        <div class="btn-circle" id="circle-4" data="4"> </div>
                        <div class="btn-circle" id="circle-5" data="5"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-4">
            <div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
                <div class="block-4-title">
                    КОЛЛОСТ<sup>®</sup> при острых ранах — <br />
                    помощь коллагена.
                    <br />
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/mini-line.png') }}">
                    <br />
                    <br />
                </div>

                <div class="block-4-text">
                    Острые раны — это сложные повреждения кожного покрова, тяжело поддающиеся лечению. Не менее сложно лечатся и трофические язвы, пролежни, синдром диабетической стопы. Однако современная фармакология располагает арсеналом средств, способных благотворно повлиять на процесс заживления таких повреждений. В частности, для этих целей может применяться коллагеновый комплекс КОЛЛОСТ<sup>®</sup>.
                    <br /><br />
                    Коллагеновые мембраны КОЛЛОСТ<sup>®</sup> —  это плотный, гибкий и полностью стерильный материал. Особая структура мембраны позволяет придавать ей форму самого повреждения, добиваясь плотного контакта комплекса КОЛЛОСТ<sup>®</sup> с раневой поверхностью. Иногда, на усмотрение специалиста, применение мембраны может подкрепляться обкалыванием повреждения коллагеновым гелем КОЛЛОСТ<sup>®</sup>.
                </div>
                <br />
                <br />
                <br />
                <table>
                    <tr>
                        <td style="width: 50%; padding-right: 20px; vertical-align: top">
                            <div class="block-4-subtitle">
                                КОЛЛОСТ<sup>®</sup> может применяться <br />
                                для терапии следующих заболеваний:
                            </div>
                            <br />
                            <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                            <br />
                            <br />
                            <div class="block-4-subtext">
                                •&nbsp;&nbsp;&nbsp;&nbsp;острые раны;<br />
                                •&nbsp;&nbsp;&nbsp;&nbsp;пролежни;<br />
                                •&nbsp;&nbsp;&nbsp;&nbsp;трофические язвы;<br />
                                •&nbsp;&nbsp;&nbsp;&nbsp;синдром диабетической стопы<br />
                            </div>

                            <br />
                            <br />
                            <div class="block-4-subtitle">
                                Как работают мембраны КОЛЛОСТ<sup>®</sup>
                            </div>
                            <br />
                            <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                            <br />
                            <br />
                            <div class="block-4-subtext">
                                Принцип действия коллагеновых мембран КОЛЛОСТ<sup>®</sup> заключается в стимуляции естественного процесса заживления повреждений. Коллагеновое волокно в мембранах сохраняет свою структуру, благодаря чему КОЛЛОСТ<sup>®</sup> способствует активному формированию новой здоровой ткани на месте повреждения. Сама мембрана при этом выполняет роль своеобразной матрицы: волокна из здоровой ткани, окружающей матрицу, внедряются в ее структуру и распространяются строго по ней. Сама по себе мембрана при этом подвергается процессу биодеградации. Использование коллагенового материала КОЛЛОСТ<sup>®</sup>, помимо основной функции, также предотвращает появление на месте повреждения рубцов и шрамов.
                            </div>
                        </td>
                        <td style="width: 50%; padding-left: 20px; vertical-align: top">
                            <div class="block-4-subtitle">
                                Преимущества применения <br />
                                коллагенового материала КОЛЛОСТ<sup>®</sup>
                            </div>
                            <br />
                            <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                            <br />
                            <br />
                            <div class="block-4-subtext">
                                Главное преимущество инновационного материала перед традиционными повязками — сокращение сроков заживления повреждений в несколько раз. Кроме того, выраженность болевых ощущений и активность воспалительных процессов значительно снижаются, что позволяет пациенту легче переносить процесс лечения.  Следует также отметить, что использование коллагеновых мембран не требует ежедневных перевязок — достаточно одной процедуры раз в пять-семь дней. <br /><br />
                                Применение коллагена способствует формированию на месте повреждения полноценной ткани, максимально идентичной здоровым тканям, окружающим рану.
                            </div>

                            <br />
                            <br />
                            <div class="block-4-subtitle">
                                Схема применения <br />
                                коллагеновой мембраны
                            </div>
                            <br />
                            <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                            <br />
                            <br />
                            <div class="block-4-subtext">
                                Перед применением мембрану КОЛЛОСТ<sup>®</sup> замачивают в 0,9%-м растворе NaCl (подойдет и любой раствор антисептика) и обрезают по форме повреждения. Иногда для закрытия раны может потребоваться больше одной мембраны.<br /><br />
                                Затем специалист выполняет первичную обработку раны и накрывает ее подготовленной заранее мембраной. Сверху мембрану необходимо покрыть раневой повязкой или стерильной марлевой салфеткой, таке обработанной 0,9%-м раствором NaCl. Повязку закрепляют на здоровой коже, окружающей повреждение, и увлажняют по мере подсыхания.<br /><br />
                                Также по усмотрению специалиста может быть использован гель КОЛЛОСТ<sup>®</sup> — тогда рану дополнительно обкалывают этим материалом до того, как будет наложена повязка.<br /><br />
                                В дальнейшем больному необходимо делать перевязки каждые пять — семь дней, пока не наступит полное заживление раны.
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="position: relative"><img src="{{ asset('bundles/vidalmain/images/collost/curves-3.png') }}" class="curves"></div>
        <div class="block-5">
            <div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
                <div class="block-5-title">
                    Преимущества использования материала<br />
                    КОЛЛОСТ<sup>®</sup> в лечении пролежней
                    <br />
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/mini-line.png') }}">
                    <br />
                    <br />
                </div>
                <div class="block-4-text">
                    Применение стерильного коллагенового биоматериала КОЛЛОСТ<sup>®</sup> для лечения пролежней позволяет закрывать покровные дефекты различной глубины и степени сложности, КОЛЛОСТ<sup>®</sup> благодаря сохраненной структуре коллагенового волокна, способствует быстрому и эффективному росту полноценной ткани на месте дефекта.  Сам КОЛЛОСТ<sup>®</sup> выступает в качестве матрицы для роста новой ткани: фибробласты, кровеносные и лимфатические сосуды, нервные волокна из окружающей здоровой ткани, внедряясь в коллагеновую матрицу, распространяются строго по ней. В процессе заживления  КОЛЛОСТ<sup>®</sup> постепенно рассасывается, формируя новые полноценные ткани.   КОЛЛОСТ<sup>®</sup> предотвращает беспорядочный рост грануляционной и рубцовой ткани и, тем самым, препятствует формированию рубца.<br /><br />
                    Таким образом КОЛЛОСТ<sup>®</sup> эффективен для лечения пролежней, так как значительно ускоряет процесс заживления и, приводит к формированию полноценных тканей, что делает коллостотерапию уникальным методом лечения пролежней.
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="block-5-subtitle">
                    КОЛЛОСТ<sup>®</sup> может применяться <br />
                    для терапии следующих заболеваний:
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                    <br />
                    <br />
                </div>
                <div class="block-4-text" style="text-align: left">
                    •&nbsp;&nbsp;&nbsp;&nbsp;Сокращение сроков лечения пролежней  в 1,5-2 раза<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Значительное уменьшение боли и воспалительного процесса<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Перевязки выполняются через 5-7 дней<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Происходит образование полноценных покровных тканей<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Возможность раннего начала реабилитации основного заболевания<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Рецидивов после лечения коллагеновым материалом КОЛЛОСТ<sup>®</sup> не отмечается<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Доступная  стоимость биоматериала<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Простота использования<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Наличие различных форм (мембраны, порошок, жгут, пломбы, гель 7% и 15%)<br />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        @font-face {
            font-family: RotonReg; /* Имя шрифта */
            src: url("{{ asset('bundles/vidalmain/fonts/collost/RotonReg.ttf') }}");
        }

        @font-face {
            font-family: RotonBol; /* Имя шрифта */
            src: url("{{ asset('bundles/vidalmain/fonts/collost/RotonBol.ttf') }}");
        }

        .pages *{
            font-family: RotonReg;
        }
        .block-1{
            background: url("{{ asset('bundles/vidalmain/images/collost/gradient.png') }}");
            height: 344px;
        }
        .block-1-title{
            color: #e41a24;
            font-size: 75px;
            font-weight: 400;
            /*transform: scale(1.147,1.147);*/
            width: 303px;
            height: 53px;
            /* margin-top: 34px; */
        }
        .block-1-text{
            color: #90979f;
            font-size: 19px;
            font-weight: 700;
            width: 261px;
            height: 38px;
        }

        .block-2{
            height: 420px;
            background: #3f97b7;
            background: url('{{ asset('bundles/vidalmain/images/collost/bg-2.png') }}');
        }
        .block-3{
            height: 600px;
            background: url('{{ asset('bundles/vidalmain/images/collost/bg.png') }}');
        }
        .icon-text{
            color: #8edbf7;
            font-size: 22px;
            font-weight: 700;
            text-align: center;
            margin-top: 20px;
        }
        .block-2-title{
            /* Встроенный стиль */
            color:  #fefefe;
            font-size: 22px; /* Приближение из-за подстановки шрифтов */
            font-weight: 700;
            width: 294px;
            height: 18px;
            padding-top: 20px;
        }
        .wrapper{
            width: 1200px;
        }
        .block-3-title{
            color: #2d5675;
            font-size: 24px;
            font-weight: 700;
            /*transform: scale(1.147,1.147);*/
            text-align: center;
            padding-top: 20px;
        }
        .block-4{
            background-color: #78abbe;
            height: 1118px;
        }
        .block-4-title{
            color: #fefeff;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            padding-top: 20px;
        }
        .block-4-text{
            margin: 0 auto;
            text-align: center;
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            width: 921px;
            height: 109px;
        }
        .block-4-subtitle{
            color: #ffffff;
            font-size: 24px;
            font-weight: 700;
        }
        .block-4-subtext{
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            text-align: justify;
        }
        .block-5{
            background: url('{{ asset('bundles/vidalmain/images/collost/bg-3.png') }}');
            height: 728px;
        }
        .block-5-title{
            color: #78abbe;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
        .block-5-subtitle{
            color: #ffffff;
            font-size: 24px;
            font-weight: 700;
            text-align: left;
        }
        .curves{
            position: absolute;
            top: -350px;
            left: 0;
        }


        .slider{
            width: 900px;
            margin: 0 auto;
            overflow: hidden;
            height: 485px;
        }
        .slider-box{
            width: 5400px;
            margin: 0 auto;
            height: 400px;
        }
        .slider-item{
            width: 860px;
            padding: 20px;
            display: inline-block;
            vertical-align: top;
        }
        .slider-item-img{
            width: 60%;
        }
        .slider-item-img img{
            max-width: 350px;
            max-height: 350px;
        }
        .slider-item-text{
            width: 40%;
            padding-left: 20px;
            color: #2d5675;
            font-size: 20px;
            font-weight: 400;
            vertical-align: top;
        }
        .btn-circle{
            display: inline;
            padding: 7px;
            background: url('/bundles/vidalmain/images/collost/ellipse.png') no-repeat;
            margin: 5px;
            cursor: pointer;
        }
        .mini-buttons{
            text-align: center;
            margin-top: 15px;
        }
        #circle-1{
            background: url('/bundles/vidalmain/images/collost/ellipse-act.png') no-repeat;
        }

    </style>

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function(){
        var timer;

        function timer(){
            clearInterval(timer);
            timer = setInterval(function(){
                var item = $('.slider-item').eq(0);
                item.animate({marginLeft : -900},300,function(){
                    $('.slider-box').append(item);
                });
                item.animate({marginLeft : 0},1);
                $('.btn-circle').css('background-image',"url('/bundles/vidalmain/images/collost/ellipse.png')");
                $('#circle-'+$('.slider-item').eq(1).attr('data')).css('background-image',"url('/bundles/vidalmain/images/collost/ellipse-act.png')");
            },7000);
        }
        timer();

        $('.btn-circle').click(function(){
            var i = 0;
            while (true){
                i ++ ;
                var currentItem = $('.slider-item').eq(0).attr('data');
                var thisItem  =   $(this).attr('data');
                var tmpItem = thisItem - currentItem;
                if (tmpItem != 0){
                    if (tmpItem > 0){
                        var item = $('.slider-item').eq(0);
                        item.animate({marginLeft : -900},0,function(){
                            $('.slider-box').append(item);
                        });
                        item.animate({marginLeft : 0},1);
                        $('.btn-circle').css('background-image',"url('/bundles/vidalmain/images/collost/ellipse.png')");
                        $('#circle-'+$('.slider-item').eq(0).attr('data')).css('background-image',"url('/bundles/vidalmain/images/collost/ellipse-act.png')");
                    }else{
                        var item = $('.slider-item').eq(4);
                        $('.slider-box').prepend(item);
                        item.animate({marginLeft : -900},0);
                        item.animate({marginLeft : 0},0);

                        $('.btn-circle').css('background-image',"url('/bundles/vidalmain/images/collost/ellipse.png')");
                        $('#circle-'+$('.slider-item').eq(0).attr('data')).css('background-image',"url('/bundles/vidalmain/images/collost/ellipse-act.png')");
                    }
                }else{
                    timer();
                    return true;
                }
                if (i > 10) return true;
            }

        });

    });
</script>
{% endblock %}