{% extends 'VidalMainBundle::layout.html.twig' %}


{% block middle %}
<div class="pages">
    {# Школа гастрита #}
    <div class="page page-main">
        <div class="block-1">
            <table style="width: 100%; height: 344px">
                <tr>
                    <td style="vertical-align: top">
                        <div style="margin-left: 80px; padding-top: 30px;">
                            <div class="block-1-title">
                                коллост
                            </div>
                            <div>
                                <br />
                                <br />
                                <img src="{{ asset('bundles/vidalmain/images/collost/blue-line.png') }}">
                                <br />
                                <br />
                            </div>
                            <div class="block-1-text">
                                коллаген — естественная <br />
                                основа вашей красоты
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <img src="{{ asset('bundles/vidalmain/images/collost/box.png') }}?v=1">
                    </td>
                </tr>
            </table>
        </div>
        <div class="block-2">
            <div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
                <div class="block-2-title">
                    КОЛЛОСТ® помогает при...
                </div>
                <div>
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}">
                    <br />
                    <br />
                </div>
                <table style="width: 100%; margin-top: 60px">
                    <tr>
                        <td style="text-align: center; width: 25%">
                            <img src="{{ asset('bundles/vidalmain/images/collost/icon-3.png') }}">
                            <br />
                            <br />
                            <div class="icon-text">
                                возрастных изменениях
                            </div>
                        </td>
                        <td style="text-align: center; width: 25%">
                            <img src="{{ asset('bundles/vidalmain/images/collost/icon-4.png') }}">
                            <br />
                            <br />
                            <div class="icon-text">
                                постакне
                            </div>
                        </td>
                        <td style="text-align: center; width: 25%">
                            <img src="{{ asset('bundles/vidalmain/images/collost/icon-1.png') }}">
                            <br />
                            <br />
                            <div class="icon-text">
                                стриях и рубцах
                            </div>
                        </td>
                        <td style="text-align: center; width: 25%">
                            <img src="{{ asset('bundles/vidalmain/images/collost/icon-2.png') }}">
                            <br />
                            <br />
                            <div class="icon-text">
                                реабилитации
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="block-3">
            <div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
                <div class="block-3-title">
                    Коллост®: проверено временем
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/blue-line.png') }}" style="margin-left: 10px">
                    <br />
                    <br />
                </div>

            </div>
        </div>
        <div class="block-4">
            <div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
                <div class="block-4-title">
                    КОЛЛОСТ® при острых ранах — <br />
                    помощь коллагена.
                    <br />
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/mini-line.png') }}">
                    <br />
                    <br />
                </div>

                <div class="block-4-text">
                    Острые раны — это сложные повреждения кожного покрова, тяжело поддающиеся лечению. Не менее сложно лечатся и трофические язвы, пролежни, синдром диабетической стопы. Однако современная фармакология располагает арсеналом средств, способных благотворно повлиять на процесс заживления таких повреждений. В частности, для этих целей может применяться коллагеновый комплекс КОЛЛОСТ®.
                    <br /><br />
                    Коллагеновые мембраны КОЛЛОСТ® —  это плотный, гибкий и полностью стерильный материал. Особая структура мембраны позволяет придавать ей форму самого повреждения, добиваясь плотного контакта комплекса КОЛЛОСТ® с раневой поверхностью. Иногда, на усмотрение специалиста, применение мембраны может подкрепляться обкалыванием повреждения коллагеновым гелем КОЛЛОСТ®.
                </div>
                <br />
                <br />
                <br />
                <table>
                    <tr>
                        <td style="width: 50%; padding-right: 20px; vertical-align: top">
                            <div class="block-4-subtitle">
                                КОЛЛОСТ® может применяться <br />
                                для терапии следующих заболеваний:
                            </div>
                            <br />
                            <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                            <br />
                            <br />
                            <div class="block-4-subtext">
                                •&nbsp;&nbsp;&nbsp;&nbsp;острые раны;<br />
                                •&nbsp;&nbsp;&nbsp;&nbsp;пролежни;<br />
                                •&nbsp;&nbsp;&nbsp;&nbsp;трофические язвы;<br />
                                •&nbsp;&nbsp;&nbsp;&nbsp;синдром диабетической стопы<br />
                            </div>

                            <br />
                            <br />
                            <div class="block-4-subtitle">
                                Как работают мембраны КОЛЛОСТ®
                            </div>
                            <br />
                            <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                            <br />
                            <br />
                            <div class="block-4-subtext">
                                Принцип действия коллагеновых мембран КОЛЛОСТ® заключается в стимуляции естественного процесса заживления повреждений. Коллагеновое волокно в мембранах сохраняет свою структуру, благодаря чему КОЛЛОСТ® способствует активному формированию новой здоровой ткани на месте повреждения. Сама мембрана при этом выполняет роль своеобразной матрицы: волокна из здоровой ткани, окружающей матрицу, внедряются в ее структуру и распространяются строго по ней. Сама по себе мембрана при этом подвергается процессу биодеградации. Использование коллагенового материала КОЛЛОСТ®, помимо основной функции, также предотвращает появление на месте повреждения рубцов и шрамов.
                            </div>
                        </td>
                        <td style="width: 50%; padding-left: 20px; vertical-align: top">
                            <div class="block-4-subtitle">
                                Преимущества применения <br />
                                коллагенового материала КОЛЛОСТ®
                            </div>
                            <br />
                            <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                            <br />
                            <br />
                            <div class="block-4-subtext">
                                Главное преимущество инновационного материала перед традиционными повязками — сокращение сроков заживления повреждений в несколько раз. Кроме того, выраженность болевых ощущений и активность воспалительных процессов значительно снижаются, что позволяет пациенту легче переносить процесс лечения.  Следует также отметить, что использование коллагеновых мембран не требует ежедневных перевязок — достаточно одной процедуры раз в пять-семь дней. <br /><br />
                                Применение коллагена способствует формированию на месте повреждения полноценной ткани, максимально идентичной здоровым тканям, окружающим рану.
                            </div>

                            <br />
                            <br />
                            <div class="block-4-subtitle">
                                Схема применения <br />
                                коллагеновой мембраны
                            </div>
                            <br />
                            <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                            <br />
                            <br />
                            <div class="block-4-subtext">
                                Перед применением мембрану КОЛЛОСТ® замачивают в 0,9%-м растворе NaCl (подойдет и любой раствор антисептика) и обрезают по форме повреждения. Иногда для закрытия раны может потребоваться больше одной мембраны.<br /><br />
                                Затем специалист выполняет первичную обработку раны и накрывает ее подготовленной заранее мембраной. Сверху мембрану необходимо покрыть раневой повязкой или стерильной марлевой салфеткой, таке обработанной 0,9%-м раствором NaCl. Повязку закрепляют на здоровой коже, окружающей повреждение, и увлажняют по мере подсыхания.<br /><br />
                                Также по усмотрению специалиста может быть использован гель КОЛЛОСТ® — тогда рану дополнительно обкалывают этим материалом до того, как будет наложена повязка.<br /><br />
                                В дальнейшем больному необходимо делать перевязки каждые пять — семь дней, пока не наступит полное заживление раны.
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="block-5">
            <div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
                <div class="block-5-title">
                    Преимущества использования материала<br />
                    КОЛЛОСТ® в лечении пролежней
                    <br />
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/mini-line.png') }}">
                    <br />
                    <br />
                </div>
                <div class="block-4-text">
                    Применение стерильного коллагенового биоматериала КОЛЛОСТ® для лечения пролежней позволяет закрывать покровные дефекты различной глубины и степени сложности, КОЛЛОСТ® благодаря сохраненной структуре коллагенового волокна, способствует быстрому и эффективному росту полноценной ткани на месте дефекта.  Сам КОЛЛОСТ® выступает в качестве матрицы для роста новой ткани: фибробласты, кровеносные и лимфатические сосуды, нервные волокна из окружающей здоровой ткани, внедряясь в коллагеновую матрицу, распространяются строго по ней. В процессе заживления  КОЛЛОСТ® постепенно рассасывается, формируя новые полноценные ткани.   КОЛЛОСТ® предотвращает беспорядочный рост грануляционной и рубцовой ткани и, тем самым, препятствует формированию рубца.<br /><br />
                    Таким образом КОЛЛОСТ® эффективен для лечения пролежней, так как значительно ускоряет процесс заживления и, приводит к формированию полноценных тканей, что делает коллостотерапию уникальным методом лечения пролежней.
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="block-5-subtitle">
                    КОЛЛОСТ® может применяться <br />
                    для терапии следующих заболеваний:
                    <br />
                    <img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">
                    <br />
                    <br />
                </div>
                <div class="block-4-text" style="text-align: left">
                    •&nbsp;&nbsp;&nbsp;&nbsp;Сокращение сроков лечения пролежней  в 1,5-2 раза<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Значительное уменьшение боли и воспалительного процесса<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Перевязки выполняются через 5-7 дней<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Происходит образование полноценных покровных тканей<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Возможность раннего начала реабилитации основного заболевания<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Рецидивов после лечения коллагеновым материалом КОЛЛОСТ® не отмечается<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Доступная  стоимость биоматериала<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Простота использования<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Наличие различных форм (мембраны, порошок, жгут, пломбы, гель 7% и 15%)<br />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        @font-face {
            font-family: RotonReg; /* Имя шрифта */
            src: url("{{ asset('bundles/vidalmain/fonts/collost/RotonReg.ttf') }}");
        }

        @font-face {
            font-family: RotonBol; /* Имя шрифта */
            src: url("{{ asset('bundles/vidalmain/fonts/collost/RotonBol.ttf') }}");
        }

        .pages *{
            font-family: RotonReg;
        }
        .block-1{
            background: url("{{ asset('bundles/vidalmain/images/collost/gradient.png') }}");
            height: 344px;
        }
        .block-1-title{
            color: #e41a24;
            font-size: 75px;
            font-weight: 400;
            /*transform: scale(1.147,1.147);*/
            width: 303px;
            height: 53px;
            /* margin-top: 34px; */
        }
        .block-1-text{
            color: #90979f;
            font-size: 19px;
            font-weight: 700;
            width: 261px;
            height: 38px;
        }

        .block-2{
            height: 420px;
            background: #3f97b7;
            background: url('{{ asset('bundles/vidalmain/images/collost/bg-2.png') }}');
        }
        .block-3{
            height: 600px;
            background: url('{{ asset('bundles/vidalmain/images/collost/bg.png') }}');
        }
        .icon-text{
            color: #8edbf7;
            font-size: 22px;
            font-weight: 700;
            text-align: center;
            margin-top: 20px;
        }
        .block-2-title{
            /* Встроенный стиль */
            color:  #fefefe;
            font-size: 22px; /* Приближение из-за подстановки шрифтов */
            font-weight: 700;
            width: 294px;
            height: 18px;
            padding-top: 20px;
        }
        .wrapper{
            width: 1200px;
        }
        .block-3-title{
            color: #2d5675;
            font-size: 24px;
            font-weight: 700;
            /*transform: scale(1.147,1.147);*/
            text-align: center;
            padding-top: 20px;
        }
        .block-4{
            background-color: #78abbe;
            height: 1118px;
        }
        .block-4-title{
            color: #fefeff;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            padding-top: 20px;
        }
        .block-4-text{
            margin: 0 auto;
            text-align: center;
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            width: 921px;
            height: 109px;
        }
        .block-4-subtitle{
            color: #ffffff;
            font-size: 24px;
            font-weight: 700;
        }
        .block-4-subtext{
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            text-align: justify;
        }
        .block-5{
            background: url('{{ asset('bundles/vidalmain/images/collost/bg-3.png') }}');
            height: 728px;
        }
        .block-5-title{
            color: #78abbe;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
        .block-5-subtitle{
            color: #ffffff;
            font-size: 24px;
            font-weight: 700;
            text-align: left;
        }

    </style>

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    var sliderTimeout = 25000;
    var next = 1;
    var t = 0;

    $(document).ready(function() {
        var sliderInterval = setInterval(slider, sliderTimeout);

        // slider
        $('.slider a').click(function(e) {
            e.preventDefault();
            var $this = $(this);
            var id = $this.attr('data');

            $('.slider a.active, .images div.active, .texts div.active').removeClass('active');
            $this.addClass('active');
            $('.image-' + id).addClass('active');
            $('.text-' + id).addClass('active');

            clearInterval(sliderInterval);
            sliderInterval = setInterval(slider, sliderTimeout);

            return false;
        });
        $('.r-left').click(function() {
            $('.slider a.active').removeClass('active').prevOrLast().addClass('active');
            $('.images div.active').removeClass('active').prevOrLast().addClass('active');
            $('.texts div.active').removeClass('active').prevOrLast().addClass('active');
            clearInterval(sliderInterval);
            sliderInterval = setInterval(slider, sliderTimeout);
        });
        $('.r-right').click(function() {
            $('.slider a.active').removeClass('active').nextOrFirst().addClass('active');
            $('.images div.active').removeClass('active').nextOrFirst().addClass('active');
            $('.texts div.active').removeClass('active').nextOrFirst().addClass('active');
            clearInterval(sliderInterval);
            sliderInterval = setInterval(slider, sliderTimeout);
        });

        // articles
        $('.p-left').click(function(e) {
            e.preventDefault();
            $('.articles .active').removeClass('active').prevOrLast().addClass('active');
            $('.roller .active').removeClass('active').prevOrLast().addClass('active');
            resetArticles();

            return false;
        });

        $('.p-right').click(function(e) {
            e.preventDefault();
            $('.articles .active').removeClass('active').nextOrFirst().addClass('active');
            $('.roller .active').removeClass('active').nextOrFirst().addClass('active');
            resetArticles();

            return false;
        });

        $('.roller a').click(function(e) {
            e.preventDefault();
            var $this = $(this);
            var id = $this.attr('data');
            $('.articles .active, .roller .active').removeClass('active');
            $this.addClass('active');
            $('.article-' + id).addClass('active');
            resetArticles();

            return false;
        });

        $('.article').click(function() {
            var $this = $(this);
            $this.find('.article-text, .article-img').hide();
            $this.find('.article-body').show();
        });

        $('.article-body').click(function(e) {
            e.stopPropagation();
            var $this = $(this);
            var $article = $this.closest('.article');
            $article.find('.article-body').hide();
            $article.find('.article-text, .article-img').show();
        });

        // test
        $('.test-buttons a').click(function(e) {
            e.preventDefault();
            next++;
            var $question = $('.question.active');

            if ($question.hasClass('last')) {
                showResult();
                return false;
            }

            $question.removeClass('active').next().addClass('active');
            $('.test-images .active').removeClass('active').next().addClass('active');

            if ($(this).hasClass('yes')) {
                t++;
            }
        });

        // question-answer
        $('.qa > a').click(function(e) {
            e.preventDefault();
            var $this = $(this);
            var $qa = $this.closest('.qa');
            var $qaNext = $qa.nextOrFirst();
            $this.hide();
            $qa.find('.qa-answer').show();
        });

        $('.qa-answer-close').click(function(e) {
            e.preventDefault();
            var $this = $(this);
            var $qa = $this.closest('.qa');
            $this.closest('.qa-answer').hide();
            $qa.find('> a').show();
        });

        if ($('.form_error ul').length) {
            $('#ask').hide();
            $('.ask-form').show();
        }

        $('.qa-rest').click(function(e) {
            var $link = $(this);
            e.preventDefault();
            $('.qas .rest').slideDown('fast', function() {
                $link.remove();
            });
        });

        // video
        $('.s-left').click(function(e) {
            e.preventDefault();
            $('.videos .active').removeClass('active').prevOrLast().addClass('active');
            $('.scroller .active').removeClass('active').prevOrLast().addClass('active');

            return false;
        });

        $('.s-right').click(function(e) {
            e.preventDefault();
            $('.videos .active').removeClass('active').nextOrFirst().addClass('active');
            $('.scroller .active').removeClass('active').nextOrFirst().addClass('active');

            return false;
        });

        $('.scroller a').click(function(e) {
            e.preventDefault();
            var $this = $(this);
            var id = $this.attr('data');
            $('.videos .active, .scroller .active').removeClass('active');
            $this.addClass('active');
            $('.video-' + id).addClass('active');

            return false;
        });
    });

    jQuery.fn.nextOrFirst = function(selector) {
        var next = this.next(selector);
        return (next.length) ? next : this.prevAll(selector).last();
    };
    jQuery.fn.prevOrLast = function(selector) {
        var prev = this.prev(selector);
        return (prev.length) ? prev : this.nextAll(selector).last();
    };

    function resetArticles() {
        $('.article-body').hide();
        $('.article-img, .article-text').show();
    }

    function slider() {
        $('.slider a.active').removeClass('active').nextOrFirst().addClass('active');
        $('.images div.active').removeClass('active').nextOrFirst().addClass('active');
        $('.texts div.active').removeClass('active').nextOrFirst().addClass('active');
    }

    function showResult() {
        $('.question, .test-buttons').hide();
        t > 3
                ? $('.result.positive').addClass('active')
                : $('.result.negative').addClass('active');
    }
</script>
{% endblock %}