{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>{{ title }}</h1>
{% endblock %}


{% block middle %}
	{% include 'VidalMainBundle:Digest:render.html.twig' with {'text':digest.text} %}

	{# форма #}
	<form id="delivery_form" method="POST" action="{{ path('delivery') }}">
		<div>
			<div>{{ form_label(form.subject) }}</div>
			<div>{{ form_errors(form.subject) }}</div>
			<div>{{ form_widget(form.subject) }}</div>
		</div>

		<div>
			<div>{{ form_label(form.specialties) }}</div>
			<div>{{ form_errors(form.specialties) }}</div>
			<div>{{ form_widget(form.specialties) }}</div>
		</div>

		<div>
			<div>{{ form_label(form.text) }}</div>
			<div>{{ form_errors(form.text) }}</div>
			<div>{{ form_widget(form.text) }}</div>
		</div>

		<div>{{ form_widget(form.submit) }}</div>
	</form>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		#delivery_form {
			margin-top: 20px;
		}
		#delivery_form > div {
			margin-bottom: 18px;
		}
		#form_subject, #form_specialties {
			width: 600px;
		}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/vidalmain/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/vidalmain/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/vidalmain/javascripts/ckeditor-config.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#delivery_form select').chosen({
				search_contains:           true,
				no_results_text:           "не найдено",
				placeholder_text_single:   "Выберите",
				placeholder_text_multiple: "Выберите"
			});
		});
	</script>
{% endblock %}