{% extends 'VidalMainBundle::layout.html.twig' %}

{% set withPhoto = publication.photo and is_file(publication.photo.path) %}


{% block title %}
	<h1>{{ publication|raw }}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('news') }}">Новости</a>
	</div>
{% endblock %}


{% block content %}
	{# админу карандашик на правку #}
	{% if isAdmin %}
		<a class="admin-edit fade" target="_blank"
		   href="{{ path('admin_vidal_drug_publication_edit', {'id':publication.id}) }}">
			<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
		</a>
	{% endif %}

	<div class="publication">
		{% if withPhoto %}
			<div class="publication-header with-photo">
				<div class="photo">
					<img src="{{ publication.photo.path }}" alt="{{ publication.title }}"/>
				</div>
			</div>
		{% endif %}

		<div class="publication-body">
			{{ publication.body|raw }}
		</div>

		<div class="publication-footer">
			<span class="publication-date">{{ publication.created|date('d.m.Y') }}</span>
		</div>
	</div>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.publication {
			font-size: 15px;
			position:  relative;
		}
		.publication-body p:first-child {
			margin-top: 0;
		}
		.publication-header {
			margin-bottom: 20px;
			overflow:      hidden;
		}
		.publication-header .photo {
			display:    inline-block;
			float:      left;
			margin-top: 2px;
		}
		.publication-header .photo img {
			max-width: 185px;
		}
		.publication-header.with-photo .publication-announce {
			margin-left: 205px;
		}
		.publication-date {
			text-align: right;
			font-size:  13px;
			font-style: italic;
			color:      gray;
		}
	</style>
{% endblock %}
