{% extends 'EvrikaMainBundle::minimal_layout.html.twig' %}


{% block body %}
	<p>Пользователь <a style="color:#586E85; font-weight:bold;"
					   href="{{ url('user_feed', {'userId': user.id }) }}">{{ user }}</a><br/>
		добавил фотографию на конкурс <b>&laquo;{{ item.contest }}&raquo;</b></p>

	<p><img style="border:1px solid #d4d4d4; max-width:400px; max-height: 400px;"
			src="http://evrika.ru{{ item.photo['path'] }}"/></p>

	{% if item.description is not empty %}
		<p><i>{{ item.description }}</i></p>
	{% endif %}
{% endblock %}