{% extends layout | default('EvrikaMainBundle::minimal_layout.html.twig') %}

{% block body %}
	<p><b>Письмо отправлено из формы обратной связи сайта (<a href="{{ path('contacts') }}">{{ url('contacts') }}</a>)</b></p>
	<p>
		{% if user is not null %}
			Пользователь был залогинен под учетной записью <i>{{ user.username }}</i>.
		{% endif %}
		Пользователь представился как <i>{{ name }}</i> из города <i>{{ city }}</i> и указал свой e-mail: <i>{{ email }}</i>.
	</p>
	<p>Текст сообщения:</p>
	<p><i>{{ message }}</i></p>
{% endblock %}