{% extends layout | default('EvrikaMainBundle::minimal_layout.html.twig') %}

{% block body %}
    <p>{{ fio }}, благодарим за заказ на портале Vidal.ru!</p>
    <p><b>Ваш заказ:</b></p>
    <p>
        {% for item in books['obj'] %}
            {{ item.book.name }} - {{ item.count }} шт. - по {{ percent(item.book.cena )}} р. <br />
        {% endfor %}
    </p>
    <p><b>ИТОГО:</b> {{ percent(books.summa) }} р.</p>
    {%  include 'EvrikaMainBundle:Email:signature.html.twig' %}
{% endblock %}