{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block vidal %}
	{% include 'VidalDrugBundle:Drugs:menu_drugs.html.twig' %}
	{% include 'VidalDrugBundle:Vidal:inf_form.html.twig' %}

	<div class="info-line">
		{% if l %}
			Найдено представительств фирм на букву <i>{{ l }}</i>:
			<span>{{ pagination.totalItemCount }}</span>
		{% elseif q %}
			{% if pagination.totalItemCount %}
				Найдено представительств фирм запросу <i>{{ q }}</i>:
				<span>{{ pagination.totalItemCount }}</span>
			{% else %}
				Не найдено представительств фирм по запросу <i>{{ q }}</i>
			{% endif %}
		{% else %}
			Найдено представительств фирм:
			<span>{{ pagination.totalItemCount }}</span>
		{% endif %}
	</div>

	{% if pagination is defined and pagination.totalItemCount %}
		<table class="products-table">
			<tr class="products-table-header">
				<td>Название</td>
				<td>Страна</td>
			</tr>
			{% for inf in pagination %}
				<tr>
					<td>
						<a class="no-underline"
						   href="{{ path('inf_item', {'InfoPageID':inf.InfoPageID}) }}">{{ inf.RusName|raw }}</a>
					</td>
					<td>
						{% if inf.CountryCode is not empty %}
							{{ inf.CountryCode.RusName }}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>

		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	{% endif %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		#form > * {
			vertical-align: top;
		}
		#form_controls {
			clear: both;
		}
		#form_submit {
			float: right;
		}
		#form_input {
			width: 408px;
		}
	</style>
{% endblock %}