{% set type = app.request.get('t') %}

<a href="{{ path('index') }}" class="header-link"></a>

<div class="header-about"></div>
<div class="header-search"></div>

<form id="search_form" class="search" method="get" action="{{ path('search') }}">
	<table>
		<tr>
			<td class="bg-gray">
			<span>
				<select class="search-type" name="t">
					<option value="all" {{ type == 'all' ? 'selected="selected"' }}>
						ВЕЗДЕ
					</option>
					<option value="product" {{ type == 'product' ? 'selected="selected"' }}>
						ПО ПРЕПАРАТУ
					</option>
					<option value="company" {{ type == 'company' ? 'selected="selected"' }}>
						ПО КОМПАНИИ
					</option>
					<option value="molecule" {{ type == 'molecule' ? 'selected="selected"' }}>
						ПО ВЕЩЕСТВУ
					</option>
					<option value="atc" {{ type == 'atc' ? 'selected="selected"' }}>
						ПО АТХ КОДУ
					</option>
					<option value="disease" {{ type == 'disease' ? 'selected="selected"' }}>
						ПО ЗАБОЛЕВАНИЮ
					</option>
				</select>
			</span>
			</td>
			<td class="sf">
				<input type="submit" value="" class="search-submit"/>
				<input class="search-query" type="text" name="q" placeholder="Введите слово для поиска..."
					   autocomplete="off"
					   value="{{ app.request.attributes.get('_route') == 'search' ? app.request.get('q') }}"/>
			</td>
		</tr>
		<tr>
			<td class="st no-selection">
				<input type="checkbox" id="bad" name="bad" class="checkbox" checked="checked"/>
				<label for="bad">включая БАДы</label>
			</td>
			<td class="right st">
				<a id="searche_link" href="{{ path('searche') }}">расширенный поиск</a>
			</td>
		</tr>
	</table>
</form>

{#<form id="search_form" class="search" method="get" action="{{ path('search') }}">#}
	{#<select class="search-type" name="t">#}
		{#<option value="all" {{ type == 'all' ? 'selected="selected"' }}>#}
			{#ВЕЗДЕ#}
		{#</option>#}
		{#<option value="product" {{ type == 'product' ? 'selected="selected"' }}>#}
			{#ПО ПРЕПАРАТУ#}
		{#</option>#}
		{#<option value="molecule" {{ type == 'molecule' ? 'selected="selected"' }}>#}
			{#ПО ВЕЩЕСТВУ#}
		{#</option>#}
		{#<option value="atc" {{ type == 'atc' ? 'selected="selected"' }}>#}
			{#ПО АТХ КОДУ#}
		{#</option>#}
		{#<option value="firm" {{ type == 'firm' ? 'selected="selected"' }}>#}
			{#ПО ПРОИЗВОДИТЕЛЮ#}
		{#</option>#}
		{#<option value="disease" {{ type == 'disease' ? 'selected="selected"' }}>#}
			{#ПО ЗАБОЛЕВАНИЮ#}
		{#</option>#}
	{#</select>#}

	{#<div class="search-inputs bg-gray">#}
		{#<input class="search-query" type="text" name="q" placeholder="Введите слово для поиска..."#}
			   {#autocomplete="off"#}
			   {#value="{{ app.request.attributes.get('_route') == 'search' ? app.request.get('q') }}"/>#}
		{#<input type="submit" value="" class="search-submit"/>#}
	{#</div>#}

	{#<div class="search-bad">#}
		{#<input type="checkbox" id="bad" name="bad" class="checkbox" checked="checked"/>#}
		{#<label for="bad">включая БАДы</label>#}
	{#</div>#}
{#</form>#}

{#<div class="searche-link">#}
	{#<a href="{{ path('searche') }}">расширенный поиск</a>#}
{#</div>#}