{% set isAdmin = is_granted('ROLE_ADMIN') %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8"/>

	{% block meta %}
		<title>{% spaceless %}
				{% if seotitle is defined and seotitle is not null %}
					{{ seotitle }}
				{% else %}
					{{ title is defined and title is not null ? title ~ ' | ' }}Vidal.ru - cправочник лекарственных препаратов
				{% endif %}
			{% endspaceless %}</title>
		<meta name="description" content="{% spaceless %}
				{% if description is defined and description is not null %}
					{{ description }}
				{% else %}
					{{ title is defined ? title ~ '. ' }}Справочник лекарственных препаратов, содержащий подробные описания и инструкции по применению лекарственных средств. Так же, на сайте: медицинская энциклопедия с описанием болезней, новости медицины и фармацевтики, взаимодействие лекарств и исследования их эффективности.
				{% endif %}
			{% endspaceless %}"/>
		<meta name="keywords" content="{% spaceless %}
				{% if keywords is defined %}
					{{ keywords }}
				{% else %}
					{{ title is defined ? title ~ ' ' }}Справочник лекарственных препаратов, средств, лекарства, описания, инструкции, применение, медицина, болезни, энциклопедия, врачи, новости, лечение, Видаль
				{% endif %}
			{% endspaceless %}"/>
	{% endblock %}

	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/common.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/jquery-chosen/chosen.css') }}"/>
		<link rel="stylesheet" type="text/css"
			  href="{{ asset('bundles/vidalmain/jquery-ui/jquery-ui-1.10.4.custom.min.css') }}"/>
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/old_ie.css') }}"/>
		<![endif]-->
	{% endblock %}

	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/jquery-1.9.1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/ready.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script type="text/javascript"
				src="{{ asset('bundles/vidalmain/jquery-chosen/chosen.jquery.min.js') }}"></script>
		<script type="text/javascript"
				src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		<script type="text/javascript"
				src="{{ asset('bundles/vidalmain/jquery-ui/jquery-ui-1.10.4.custom.min.js') }}"></script>
	{% endblock %}
</head>

<body>

<div id="wrapper" class="wrapper">
	{{ render(controller('VidalMainBundle:Banner:render', {'groupId':2})) }}

	<div class="header">
		{% include 'VidalMainBundle::header.html.twig' %}
	</div>

	<table class="middle">
		<tr>
			<td class="left-sidebar">
				{% include 'VidalMainBundle::left_sidebar.html.twig' %}
			</td>
			<td class="main">
				{% block main %}
					{% block menu %}
						{% include 'VidalMainBundle::menu_small.html.twig' %}
					{% endblock %}
					<div class="content">
						{% block content %}{% endblock %}
					</div>
				{% endblock %}
			</td>
			<td class="right-sidebar">
				{% include 'VidalMainBundle::right_sidebar.html.twig' %}
			</td>
		</tr>
	</table>

	<div class="footer">
		{% include 'VidalMainBundle::footer.html.twig' %}
	</div>
</div>

<div id="overlay"></div>

</body>
</html>