{% set isLogged = is_granted('IS_AUTHENTICATED_REMEMBERED') %}

{# блок основных боковых меню #}
<ul class="sidebar-menu ul">
	<li>
		<a href="{{ path('articles') }}"
		   class="{{ menu_left is defined and menu_left == 'articles' ? 'active' : 'dotted' }}">Энциклопедия</a>
	</li>
	<li>
		<a href="{{ path('news') }}"
		   class="{{ menu_left is defined and menu_left == 'news' ? 'active' : 'dotted' }}">Новости</a>
	</li>
	<li>
		<a href="{{ path('veterinar') }}"
		   class="{{ menu_left is defined and menu_left == 'veterinar' ? 'active' : 'dotted' }}">Видаль-Ветеринар</a>
	</li>
	<li>
		<a href="{{ path('qa') }}"
		   class="{{ menu_left is defined and menu_left == 'qa' ? 'active' : 'dotted' }}">Ответы специалистов</a>
	</li>
	<li>
		<a href="{{ path('onas') }}"
		   class="{{ menu_left is defined and menu_left == 'about' ? 'active' : 'dotted' }}">О компании</a>
	</li>
	<li style="display:none">
		<a href="{{ path('shkola') }}"
		   class="{{ menu_left is defined and menu_left == 'shkola' ? 'active' : 'dotted' }}">Школа здоровья</a>
	</li>

    {{ render(controller('VidalMainBundle:Market:countProduct')) }}
</ul>

{# блок авторизации или личного кабинета #}
<div class="auth auth-main">
	{% if isLogged %}
		<div class="auth-welcome">
			Здравствуйте,<br/>
			{{ app.user.politeReference }}
		</div>

		<ul class="auth-controls ul">
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('sonata_admin_dashboard') }}" class="dotted">Панель администратора</a>
				</li>
			{% endif %}
			<li>
				<a href="{{ path('profile') }}" class="dotted">Профиль</a>
			</li>
			<li>
				<a href="{{ path('logout') }}" class="dotted">Выйти</a>
			</li>
		</ul>
	{% else %}
		{% include 'VidalMainBundle:Auth:login_form.html.twig' %}
	{% endif %}
</div>

{% if not isLogged %}
	<div class="go-registration">
		<a href="{{ path('registration') }}">Регистрация</a>
	</div>
{% endif %}

{# баннеры #}
{% if indexPage is defined %}
	{{ render(controller('VidalMainBundle:Banner:render', {'groupId':7})) }}
{% else %}
	{{ render(controller('VidalMainBundle:Banner:render', {'groupId':8})) }}
{% endif %}