<div class="menu menu-small">
	<a href="{{ path('drugs') }}" class="menu-drugs{{ menu is defined and menu == 'drugs' ? ' active' }}"></a>
	<a href="#" class="menu-symptoms{{ menu is defined and menu == 'symptoms' ? ' active' }}"></a>
	<a href="#" class="menu-doctors{{ menu is defined and menu == 'doctors' ? ' active' }}"></a>
	<a href="#" class="menu-pharmacy{{ menu is defined and menu == 'pharmacy' ? ' active' }}"></a>
</div>