<div class="menu menu-big">
    <a href="{{ path('drugs') }}" class="menu-drugs{{ menu is defined and menu == 'drugs' ? ' active' }}"></a>
    <a href="{{ path('symptom_page') }}" class="menu-symptoms{{ menu is defined and menu == 'symptom_page' ? ' active' }}"></a>
    <a href="#" class="menu-doctors{{ menu is defined and menu == 'doctors' ? ' active' }}"></a>
    <a href="#" class="menu-pharmacy{{ menu is defined and menu == 'pharmacy' ? ' active' }}"></a>
</div>