<div class="menu menu-big">
	{% if menu is defined %}
		<a href="{{ path('drugs') }}" class="menu-drugs{{ menu == 'drugs' ? ' active' }}"></a>
		<a href="{{ path('symptom_page') }}" class="menu-symptoms{{menu == 'symptom_page' ? ' active' }}"></a>
		<a href="{{ path('vracham') }}" class="menu-doctors{{menu == 'vracham' ? ' active' }}"></a>
		<a href="#" class="menu-pharmacy{{menu == 'pharmacy' ? ' active' }}"></a>
	{% else %}
		<a href="{{ path('drugs') }}" class="menu-drugs"></a>
		<a href="{{ path('symptom_page') }}" class="menu-symptoms"></a>
		<a href="{{ path('vracham') }}" class="menu-doctors"></a>
		<a href="#" class="menu-pharmacy"></a>
	{% endif %}
</div>