<div class="menu menu-big">
	<a href="{{ path('drugs') }}" class="menu-drugs{{ menu is defined and menu == 'drugs' ? ' active' }}">
		<span>препараты</span>
	</a>
	<a href="{{ path('articles') }}"
	   class="menu-symptoms{{ menu is defined and menu == 'articles' ? ' active' }}">
		<span>медицинская<br/> энциклопедия</span>
	</a>
	<a href="{{ path('vracham') }}" class="menu-doctors{{ menu is defined and menu == 'vracham' ? ' active' }}">
		<span>специалистам</span>
	</a>
	<a href="{{ path('pharmacies_map') }}" class="menu-pharmacy{{ menu is defined and menu == 'pharmacies_map' ? ' active' }}">
		<span>аптеки</span>
	</a>
</div>