{% set t = ogTitle|url_encode(true) %}
{% set d = description|last == '.' ? description|url_encode(true) : (description ~ '.')|url_encode(true) %}
{% set u = app.request.uri %}
{% set hiddenTitle = (ogTitle ~ ' – ' ~ subtitle ~ ' – Vidal.ru')|url_encode(true) %}

<div id="share-buttons">
	<div>
		<a href="http://vk.com/share.php?url={{ u }}&title={{ t }}&description={{ d }}" target="_blank"
		   title="Поделиться в ВКонтакте" class="first">
			<img src="{{ asset('bundles/vidalmain/images/share/VKontakte.png') }}"/>
		</a>

		<!-- Facebook -->
		<a href="http://www.facebook.com/sharer.php?s=100&p[url]={{ u }}&p[title]={{ t }}&p[description]={{ d }}"
		   target="_blank"
		   title="Поделиться в Facebook">
			<img src="{{ asset('bundles/vidalmain/images/share/Facebook.png') }}"/>
		</a>

		<!-- Twitter -->
		<a href="http://twitter.com/share?url={{ u }}&text={{ forPatient is defined ? 'Статья из медицинской энциклопедии сайта vidal.ru – «' ~ t ~ '»: ' : (zip is defined ? ogTitle ~ ', ' ~ zip : ogTitle)|url_encode(true) }}"
		   target="_blank" title="Twitter">
			<img src="{{ asset('bundles/vidalmain/images/share/Twitter.png') }}"/>
		</a>

		<!-- LiveJournal -->
		<a href="http://www.livejournal.com/update.bml?subject={{ (zip is defined ? ogTitle ~ ', ' ~ zip : ogTitle)|url_encode(true) }}&event={{ product is defined ? 'Текст описания на сайте vidal.ru: ' ~ u : d ~ ' Текст материала на сайте vidal.ru: ' ~ u }}&url={{ u }}"
		   target="_blank" title="Опубликовать в LiveJournal">
			<img src="{{ asset('bundles/vidalmain/images/share/Livejournal.png') }}"/>
		</a>

		<!-- Google+ -->
		<a href="https://plus.google.com/share?url={{ u }}&title={{ (zip is defined ? ogTitle ~ ', ' ~ zip : ogTitle)|url_encode(true) }}&description={{ d }}" target="_blank"
		   title="Поделиться в Google+">
			<img src="{{ asset('bundles/vidalmain/images/share/Google+.png') }}"/>
		</a>

		<!-- LinkedIn -->
		<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ u }}&title={{ t }}&description={{ d }}"
		   target="_blank" title="Добавить в LinkedIn">
			<img src="{{ asset('bundles/vidalmain/images/share/Linkedin.png') }}"/>
		</a>

		<!-- Odnoklassniki -->
		<a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl={{ u }}&st.comments"
		   target="_blank" title="Поделиться в Однокласники">
			<img src="{{ asset('bundles/vidalmain/images/share/Odnoklassniki.png') }}"/>
		</a>

		<!-- MoiMir -->
		<a href="http://connect.mail.ru/share?url={{ u }}&title={{ t }}&description={{ d }}"
		   target="_blank" title="Добавить в Мой мир">
			<img src="{{ asset('bundles/vidalmain/images/share/Mail.png') }}"/>
		</a>

		<!-- Email -->
		<a href="#share-email" class="share-btn" title="Поделиться через E-mail">
			<img src="{{ asset('bundles/vidalmain/images/share/Email.png') }}" alt="Email"/>
		</a>

		{% if app.request.get('t') == 1 %}
		<button
			class="g-interactivepost"
			data-contenturl="https://plus.google.com/pages/"
			data-contentdeeplinkid="/pages"
			data-clientid="xxxxx.apps.googleusercontent.com"
			data-cookiepolicy="single_host_origin"
			data-prefilltext="Engage your users today, create a Google+ page for your business."
			data-calltoactionlabel="CREATE"
			data-calltoactionurl="http://plus.google.com/pages/create"
			data-calltoactiondeeplinkid="/pages/create">
		</button>
			<script type="text/javascript">
				$(document).ready(function() {
					var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					po.src = 'https://apis.google.com/js/client:plusone.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				});
			</script>
		{% endif %}
	</div>
</div>


<div id="share-email">
	<div class="share-title">
		Поделиться с друзьями
	</div>
	<div class="share-error">
		Пожалуйста, заполните поля e-mail адресов и убедитесь в их правильности
	</div>
	<div class="share-message">

	</div>
	<form action="{{ path('share') }}" method="POST">
		<div>
			<input type="text" name="my" required="required" placeholder="Мой E-mail"/>
		</div>
		<div>
			<input type="text" name="friends" required="required" placeholder="E-mail друзей через ;"/>
		</div>
		<div>
			<textarea name="text" placeholder="Комментарий (максимум 200 символов)"></textarea>
		</div>
		<input type="hidden" name="title" value="{{ hiddenTitle }}"/>
		<input type="hidden" name="url" value="{{ u }}"/>

		<div class="submit">
			<input type="submit" class="btn-red" value="Отправить"/>
		</div>
	</form>
</div>

{#{{ dump(app.request.uri) }}#}
{#{{ render_hinclude(url('')) }}#}
