<form id="search_form" method="get" action="{{ path('search') }}">
	<div id="search_block" class="border-radius">
		<input id="search_query" type="text" name="q" class="border-radius"
			   placeholder="Искать" value="{{ app.request.get('q') }}"/>
		<select id="search_type" name="t">
			<option value="all" {{ app.request.get('t') == 'all' ? 'selected="selected"' }}>
				Везде
			</option>
			<option value="product" {{ app.request.get('t') == 'product' ? 'selected="selected"' }}>По
				препарату
			</option>
			<option value="molecule" {{ app.request.get('t') == 'molecule' ? 'selected="selected"' }}>По
				активному веществу
			</option>
			<option value="atc" {{ app.request.get('t') == 'atc' ? 'selected="selected"' }}>
				По АТС коду
			</option>
		</select>
	</div>
	<input id="search_button" class="btn-white" type="submit" value="Найти"/>
</form>

