{% if module %}
	{% set isAdmin = app.user and is_granted('ROLE_ADMIN') %}

	<div class="module module-{{ module.id }}">
		{% if isAdmin %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_main_module_edit', {'id':module.id}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}

		{% if module is enabled %}
			{% if module.title is not empty %}
				<div class="module-title">
					{{ module.title|raw }}
				</div>
			{% endif %}
			{% if module.body is not empty %}
				<div class="module-body">
					{{ module.body|raw }}
				</div>
			{% endif %}
		{% endif %}
	</div>

{% endif %}
