{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>О КОМПАНИИ</h1>
{% endblock %}


{% block content %}
	<div class="rubriques top">
		{% set about = itemsTop[0] %}
		<div>
			<ul class="ul">
				<li>
					<a href="{{ path('about', {'url':about.url}) }}">{{ about.title }}</a>
					{% if isAdmin %}
						<a class="admin-edit fade" target="_blank"
						   href="{{ path('admin_vidal_main_about_edit', {'id':about.id}) }}">
							<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
						</a>
					{% endif %}
				</li>
			</ul>
		</div>

		{% set about = itemsTop[1] %}
		<div>
			<ul class="ul">
				<li>
					<a href="{{ path('about', {'url':about.url}) }}">{{ about.title }}</a>
					{% if isAdmin %}
						<a class="admin-edit fade" target="_blank"
						   href="{{ path('admin_vidal_main_about_edit', {'id':about.id}) }}">
							<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
						</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>

	<div class="rubriques bottom">
		{% if itemsBottom|length %}
			{% set perColumn = itemsBottom|length // 2 %}

			{% for about in itemsBottom %}

				{% if loop.index % perColumn == 1 %}
					<div>
					<ul class="ul">
				{% endif %}

				<li>
					<a href="{{ path('about', {'url':about.url}) }}">{{ about.title }}</a>
					{% if isAdmin %}
						<a class="admin-edit fade" target="_blank"
						   href="{{ path('admin_vidal_main_about_edit', {'id':about.id}) }}">
							<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
						</a>
					{% endif %}
				</li>

				{% if loop.index % perColumn == 0 %}
					</ul>
					</div>
				{% endif %}

			{% endfor %}
		{% endif %}
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/article.css') }}"/>
{% endblock %}