{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>Новости Фармацевтических компаний</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('onas') }}">О компании</a>
	</div>
{% endblock %}


{% block content %}
	<ul class="ul-style pharms">
		{% for company in companies %}
			<li>
				{% if isAdmin %}
					<a class="admin-edit fade" target="_blank"
					   href="{{ path('admin_vidal_drug_pharmcompany_edit', {'id':company.id}) }}">
						<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
					</a>
				{% endif %}

				<a href="{{ path('pharm_articles', {'companyId':company.id}) }}">
					{{ company.title|raw }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.pharms li {
			margin-bottom: 5px;
			position:      relative;
		}
		.pharms a {
			color:           #2f4053;
			text-decoration: none;
		}
		.pharms a:hover {
			text-decoration: underline;
		}
	</style>
{% endblock %}