{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>
		{% if isAdmin %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_drug_pharmcompany_edit', {'id':company.id}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}

		{{ company|raw }}
	</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('onas') }}">О компании</a>
		<i></i>
		<a href="{{ path('pharm_news') }}">Новости Фармацевтических компаний</a>
	</div>
{% endblock %}


{% block content %}
	<div class="pharm-articles">
		{% for article in articles %}
			<div>
				{% if isAdmin %}
					<a class="admin-edit fade" target="_blank"
					   href="{{ path('admin_vidal_drug_pharmarticle_edit', {'id':article.id}) }}">
						<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
					</a>
				{% endif %}

				{{ article.text|raw }}
			</div>
			<hr/>
		{% endfor %}
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.pharm-articles img {
			margin-right: 15px;
		}
		.pharm-articles > div {
			position: relative;
		}
	</style>
{% endblock %}