{% if object.tags is not empty %}
	<div class="tags no-selection">
		{% for tag in object.tags %}
			{% set show = tag.publications.count > 1 or tag.articles.count > 1 or tag.arts.count > 1 %}
			{% if show %}
				<span>
				<span>{{ tag.text }}</span>
				<ul>
					{% if tag.publications.count > 1 %}
						<li>
							<a href="{{ path('tag_news', {'id':tag.id}) }}" target="_blank">
								Новости по теме <i>{{ tag.text }}</i>
							</a><b>{{ tag.publications.count }}</b>
						</li>
					{% endif %}
					{% if tag.articles.count > 1 %}
						<li>
							<a href="{{ path('tag_articles', {'id':tag.id}) }}" target="_blank">
								Статьи медицинской энциклопедии по теме <i>{{ tag.text }}</i>
							</a><b>{{ tag.articles.count }}</b>
						</li>
					{% endif %}
					{% if tag.arts.count > 1 %}
						<li>
							<a href="{{ path('tag_arts', {'id':tag.id}) }}" target="_blank">
								Статьи для специалистов по теме <i>{{ tag.text }}</i>
							</a><b>{{ tag.arts.count }}</b>
						</li>
					{% endif %}
					{#{% if tag.pharmArticles.count %}#}
					{#<li>#}
					{#<a href="{{ path('tag_pharm_articles', {'id':tag.id}) }}" target="_blank">#}
					{#Новости фарм. компаний по теме <i>{{ tag.text }}</i>#}
					{#</a><b>{{ tag.pharmArticles.count }}</b>#}
					{#</li>#}
					{#{% endif %}#}
				</ul>
			</span>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}