{% if pagination is not empty %}
	<div class="pharm-articles">
		{% for article in pagination %}
			<div class="pharm-article" data="{{ article.id }}">
				{% if article.company and company is not defined %}
					<div class="article-company">
						<a href="{{ path('pharma_company', {'id':article.company.id}) }}">
							{{ article.company.title|raw }}
						</a>
					</div>
				{% endif %}

				{% if isAdmin %}
					<a class="admin-edit fade" target="_blank"
					   href="{{ path('admin_vidal_drug_pharmarticle_edit', {'id':article.id}) }}">
						<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
					</a>
				{% endif %}

				<div class="article-text text">
					{{ article.text|raw }}
				</div>

				<div class="article-footer">
					{% if company is not defined %}
						<a href="{{ path('pharma_company', {'id':article.company.id}) }}">
							Другие новости этой компании
						</a>
					{% endif %}
					<span>{{ article.created|date('d.m.Y') }}</span>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endif %}