{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>{{ about.title|upper }}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('services') }}">Наши услуги</a>
	</div>
{% endblock %}


{% block content %}
	<div class="about publication text">
		{% if isAdmin %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ path('admin_vidal_main_aboutservice_edit', {'id':about.id}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}
		{{ about.body|raw }}
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.about {
			position: relative;
		}
	</style>
{% endblock %}