{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="pagination">

        {% if last is defined and current != last %}
            <span class="last">
            	<a href="{{ path(route, query|merge({(pageParameterName): last})) }}">«</a>
       		</span>
        {% endif %}


        {% if next is defined %}
            <span class="next">
            	<a href="{{ path(route, query|merge({(pageParameterName): next})) }}">назад</a>
        	</span>
        {% endif %}

        {% for page in pagesInRange|reverse %}
            {% if page != current %}
                <span class="page">
                	<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
           	    </span>
            {% else %}
                <span class="current">{{ page }}</span>
            {% endif %}

        {% endfor %}


        {% if previous is defined %}
            <span class="previous">
            	<a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">далее</a>
        	</span>
        {% endif %}

        {% if first is defined and current != first %}
            <span class="first">
            	<a href="{{ path(route, query|merge({(pageParameterName): first})) }}">»</a>
        	</span>
        {% endif %}
    </div>
{% endif %}
