{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>Список вопросов</h1>
{% endblock %}

{% block nav %}
    <div class="breadcrumbs">
        <a href="{{ path('index') }}">Видаль</a>
        <i></i>
        <a href="{{ path('astrazeneca_index') }}">AstraZeneca</a>
        <i></i>
        <a href="{{ path('admin_astrazeneca_faq') }}">Админ панель</a>
        <i></i>
        <span>Список вопросов</span>
    </div>
{% endblock %}


{% block content %}
    <table style="width: 100%">
        <tr>
            <th>Вопрос</th>
            <th>Действие</th>
        </tr>
        {% for faq in faqs %}
            <tr>
                <td style="width: 80%">
                    {{ faq.question }}
                </td>
                <td style="text-align: right">
                    <a href="#"><img src="{{ asset('bundles/vidalmain/images/edit.png') }}" style="width: 20px; padding-right: 10px;"></a>
                    <a href="#"><img src="{{ asset('bundles/vidalmain/images/close.png') }}" style="width: 24px; padding-right: 10px;"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}