{% extends 'VidalMainBundle::layout.html.twig' %}



{% block nav %}
    <div class="breadcrumbs">
        <a href="{{ path('index') }}">Видаль</a>
        <i></i>
        <a href="{{ path('astrazeneca_index') }}">astraZeneca</a>
        <i></i>
        <span>Новости</span>
    </div>
{% endblock %}


{% block content %}
    <div class="menu-drugs">
        <div class="tabs" style="width: 520px">
            <table style="width: 100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 20%; text-align: center;">
                        <a href="{{ path('astrazeneca_index') }}">Главная</a>
                    </td>
                    <td style="width: 20%; text-align: center;">
                        <a href="{{ path('astrazeneca_news') }}" class="active">Статьи</a>
                    </td>
                    <td style="width: 20%; text-align: center;">
                        <a href="{{ path('astrazeneca_faq') }}">Вопрос-ответ</a>
                    </td>
                    <td style="width: 20%; text-align: center;">
                        <a href="{{ path('astrazeneca_testing') }}" >Тестирование</a>
                    </td>
                    <td style="width: 20%; text-align: center;">
                        <a href="{{ path('astrazeneca_map') }}" >Карта</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h1>
        Статьи
    </h1>
    <div class="title title-news">
        <a href="{{ path('astrazeneca_news') }}">Статьи AstraZeneca</a>
    </div>
    <br/>
    <div class="news">
        {% for publication in publications %}
            {#{% set withPhoto = publication.photo and is_file(publication.photo.path) %}#}
            <div class="publication">
                {# админам карандашик редактирования #}
                {#{% if withPhoto %}#}
                    {#<a class="photo" href="{{ path('astrazeneca_new', {'newId' : publication.id}) }}">#}
                        {#<img src="{{ publication.photo.path }}" alt="{{ publication.title }}"/>#}
                    {#</a>#}
                {#{% endif %}#}
                <div>
                    <div class="publication-title">
                        <a href="{{ path('astrazeneca_new', {'newId':publication.id}) }}">{{ publication.title|raw }}</a>
                    </div>
                    <div class="publication-anos">
                        <a href="{{ path('astrazeneca_new', {'newId':publication.id}) }}">{{ publication.anons|raw }}</a>
                    </div>
                    {#<div class="publication-announce">#}
                        {#{{ publication.announce|raw }}#}
                    {#</div>#}
                    {#<div class="publication-footer">#}
                        {#<div class="publication-date">#}
                            {#{{ publication.date|date('d.m.Y') }}#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
    <style>
        .tabs a{
            width: 100%;
            display: block;
            text-align: center;
            padding: 7px 0;
        }
        .publication-anos a{
            color: #222222;
            text-decoration: none;
        }
    </style>
{% endblock %}
