{% extends 'VidalMainBundle::layout.html.twig' %}


{% block middle %}
	<div class="pages">
		{# Школа гастрита #}
		<div class="page page-main">
			<img src="{{ asset('bundles/vidalmain/images/shkola/page-main.png') }}" class="page-main-bg"/>

			<div class="context left top">
				<div class="main-title">
					ШКОЛА<br/>ГАСТРИТА
				</div>

				<div class="main-about">
					Для профилактики гастрита, рекомендуем Вам проконсультироваться со специалистом.
					Найти специалиста рядом с Вами Вы можете с помощью нашей карты
					<a href="#" class="link">нашей карты</a>
				</div>

				<div class="main-links">
					<a href="#articles" class="link">СТАТЬИ</a>
					<a href="#" class="link">ВИДЕО</a>
					<a href="#" class="link">ТЕСТ</a>
					<a href="#" class="link">ВОПРОС-ОТВЕТ</a>
					<a href="#" class="link">КАРТА</a>
				</div>

				<div class="texts">
					{% for blog in blogs %}
						<div class="text-{{ blog.id }} {{ loop.first ? 'active' }}">
							{{ blog.text|raw }}
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="blogs">
				<div class="images">
					{% for blog in blogs %}
						<div class="image-{{ blog.id }} {{ loop.first ? 'active' }}">
							<img src="{{ blog.photo.path }}"/>
						</div>
					{% endfor %}
				</div>
				<div class="slider">
					<div>
						{% for blog in blogs %}
							<a href="#" data="{{ blog.id }}" {{ loop.first ? 'class="active"' }}></a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		{# Статьи #}
		<div class="page page-articles" id="articles">
			<div class="content">
				<div class="articles">
					{% for article in articles %}
						<div class="article article-{{ article.id }} {{ loop.index == 1 ? 'active' }}"
							 data="{{ article.id }}">
							<div class="article-img">
								{% if article.photo and is_file(article.photo.path) %}
									<img src="{{ article.photo.path }}"/>
								{% endif %}
							</div>
							<div class="article-text">
								<div class="article-title">
									{{ article.title|upper }}
								</div>
								<div class="article-anons">{{ article.anons|raw }}</div>
							</div>
							<div class="article-body">
								{{ article.body|raw }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="roller">
				<div>
					{% for article in articles %}
						<a href="#" data="{{ article.id }}" {{ loop.first ? 'class="active"' }}></a>
					{% endfor %}
				</div>
			</div>

			<a class="p-left" href="#"><img src="{{ asset('bundles/vidalmain/images/shkola/p-left.png') }}"/></a>
			<a class="p-right" href="#"><img src="{{ asset('bundles/vidalmain/images/shkola/p-right.png') }}"/></a>
		</div>

	</div>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/shkola.css') }}"/>
	<style type="text/css">
		/* page-articles */
		.page .content {
			width:       778px;
			height:      307px;
			position:    absolute;
			left:        50%;
			top:         50%;
			margin-left: -391px;
			margin-top:  -158px;
		}
		.articles {
			padding: 80px 10px 10px 78px;
		}
		.article img {
			max-width:  235px;
			border:     2px solid white;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
		}
		.article {
			overflow: hidden;
			display:  none;
			cursor:   pointer;
		}
		.article.active {
			display: block;
		}
		.article-img {
			width: 290px;
			float: left;
		}
		.article-text {
			margin-left: 290px;
		}
		.article-title {
			font-size: 20px;
		}
		.article-anons {
			padding-top: 10px;
		}
		.p-left, .p-right {
			display:  inline-block;
			position: absolute;
			top:      229px;
		}
		.p-left {
			left: 58px;
		}
		.p-right {
			right: 58px;
		}

		.article-body {
			position:   absolute;
			display:    none;
			overflow-y: scroll;
			top:        5px;
			left:       7px;
			right:      0;
			height:     300px;
		}
		.article-body p:first-child {
			margin-top: 0;
		}
		.article-body * {
			background: transparent !important;
		}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		jQuery.fn.nextOrFirst = function(selector) {
			var next = this.next(selector);
			return (next.length) ? next : this.prevAll(selector).last();
		};
		jQuery.fn.prevOrLast = function(selector) {
			var prev = this.prev(selector);
			return (prev.length) ? prev : this.nextAll(selector).last();
		};

		function resetArticles() {
			$('.article-body').hide();
			$('.article-img, .article-text').show();
		}

		function slider() {
			$('.slider a.active').removeClass('active').nextOrFirst().addClass('active');
			$('.images div.active').removeClass('active').nextOrFirst().addClass('active');
			$('.texts div.active').removeClass('active').nextOrFirst().addClass('active');
		}

		var sliderTimeout = 10000;

		$(document).ready(function() {
			var sliderInterval = setInterval(slider, sliderTimeout);

			// slider
			$('.slider a').click(function(e) {
				e.preventDefault();
				var $this = $(this);
				var id = $this.attr('data');

				$('.slider a.active, .images div.active, .texts div.active').removeClass('active');
				$this.addClass('active');
				$('.image-' + id).addClass('active');
				$('.text-' + id).addClass('active');

				clearInterval(sliderInterval);
				sliderInterval = setInterval(slider, sliderTimeout);

				return false;
			});

			// articles
			$('.p-left').click(function(e) {
				e.preventDefault();
				$('.articles .active').removeClass('active').prevOrLast().addClass('active');
				$('.roller .active').removeClass('active').prevOrLast().addClass('active');
				resetArticles();

				return false;
			});

			$('.p-right').click(function(e) {
				e.preventDefault();
				$('.articles .active').removeClass('active').nextOrFirst().addClass('active');
				$('.roller .active').removeClass('active').nextOrFirst().addClass('active');
				resetArticles();

				return false;
			});

			$('.roller a').click(function(e) {
				e.preventDefault();
				var $this = $(this);
				var id = $this.attr('data');
				$('.articles .active, .roller .active').removeClass('active');
				$this.addClass('active');
				$('.article-' + id).addClass('active');
				resetArticles();

				return false;
			});

			$('.article').click(function() {
				var $this = $(this);
				$this.find('.article-text, .article-img').hide();
				$this.find('.article-body').show();
			});

			$('.article-body').click(function(e) {
				e.stopPropagation();
				var $this = $(this);
				var $article = $this.closest('.article');
				$article.find('.article-body').hide();
				$article.find('.article-text, .article-img').show();
			});
		});

	</script>
{% endblock %}