{% set route = app.request.attributes.get('_route') %}

<h1>РАСШИРЕННЫЙ ПОИСК</h1>

<div class="tabs">
	<a href="{{ path('searche') }}"{{ route == 'searche' ? ' class="active"' }}>По словам</a>
	<a href="{{ path('searche_letter') }}"{{ route == 'searche_letter' ? ' class="active"' }}>По алфавиту</a>
	<a href="{{ path('searche_indic') }}"{{ route == 'searche_indic' ? ' class="active"' }}>По показаниям
		к применению</a>
</div>