{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block vidal %}
	{% include 'VidalDrugBundle:Search:search_info.html.twig' %}

	{# Найдено препаратов #}
	{% if productsPagination is defined %}
		{% if productsPagination is not empty %}
			<div class="block">
				<div class="block-anons">
					<div class="block-head">
						Найдено препаратов: <span>{{ productsPagination.totalItemCount }}</span>
					</div>
				</div>
			</div>
			<div class="navigation">
				{{ knp_pagination_render(productsPagination) }}
			</div>
			{% include 'VidalDrugBundle:Vidal:render_products.html.twig' with {'products':productsPagination.items} %}
			{% if productsPagination.totalItemCount > 15 %}
				<div class="navigation">
					{{ knp_pagination_render(productsPagination) }}
				</div>
			{% endif %}
		{% elseif t == 'product' %}
			<div class="no-results">
				Не найдено результатов по препарату <span>{{ q }}</span>
			</div>
		{% endif %}
	{% endif %}

	{# Найдено Медицинских изделий #}
	{% if mis is defined %}
		<div class="block">
			<div class="block-anons">
				<div class="block-head">
					Найдено медицинских изделий (МИ): <span>{{ mis|length }}</span>
				</div>
			</div>
		</div>
		{% include 'VidalDrugBundle:Vidal:render_products.html.twig' with {'products':mis, 'pictures':mi_pictures, 'companies':mi_companies, 'infoPages':mi_infoPages} %}
	{% endif %}

	{# Найдено БАДов #}
	{% if bads is defined %}
		<div class="block">
			<div class="block-anons">
				<div class="block-head">
					Найдено БАДов: <span>{{ bads|length }}</span>
				</div>
			</div>
		</div>
		{% include 'VidalDrugBundle:Vidal:render_products.html.twig' with {'products':bads, 'pictures':bad_pictures, 'companies':bad_companies, 'infoPages':bad_infoPages} %}
	{% endif %}

	{# Найдено активных веществ #}
	{% if molecules is defined %}
		{% if molecules is not empty %}
			<div class="block">
				<div class="block-anons">
					<div class="block-head">
						Найдено активных веществ: <span>{{ molecules|length }}</span>
					</div>
				</div>
			</div>
			{% include 'VidalDrugBundle:Vidal:render_molecules.html.twig' %}
		{% elseif t == 'molecule' %}
			<div class="no-results">
				Не найдено результатов по активному веществу <span>{{ q }}</span>
			</div>
		{% endif %}
	{% endif %}

	{# Найдено АТХ #}
	{% include 'VidalDrugBundle:Search:render_atc.html.twig' %}
	{% if atcCodes is defined and atcCodes is not empty %}
		<div class="block">
			<div class="block-head anons"
				 title="Анатомо-Терапевтически-Химическая (АТХ) система классификации (ATC)">
				Найдено кодов АТХ: <span>{{ atcCodes|length }}</span>
			</div>

			<table class="products-table">
				<tr class="products-table-header">
					<td style="width:10%">АТХ код</td>
					<td style="width:40%">Название</td>
					<td style="width:40%">Латинское название</td>
					<td style="width:10%">Входит в&nbsp;группу</td>
				</tr>
				{% for code, atc in atcCodes %}
					<tr>
						<td>
							<a href="{{ path('atc_item', {'ATCCode':atc.ATCCode}) }}"
							   class="no-underline">{{ atc.ATCCode }}</a>
						</td>
						<td>{{ atc.RusName }}</td>
						<td>{{ atc.EngName }}</td>
						<td>
							{% if atc.ParentATCCode is not empty %}
								<a href="{{ path('atc', {'ATCCode':atc.ParentATCCode}) }}"
								   class="no-underline">{{ atc.ParentATCCode }}</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% elseif t == 'atc' %}
		<div class="no-results">
			Не найдено результатов по AТХ коду <span>{{ q }}</span>
		</div>
	{% endif %}

	{# поиск по компании #}
	{% include 'VidalDrugBundle:Search:search_company.html.twig' %}

	{# Найдено заболеваний #}
	{% if articles is defined %}
		{% if articles is not empty %}
			<div class="block">
				<div class="block-anons">
					<div class="block-head">
						Найдено результатов по заболеваниям: <span>{{ articles|length }}</span>
					</div>
				</div>
			</div>
			{% include 'VidalDrugBundle:Vidal:render_articles.html.twig' %}
		{% elseif t == 'disease' %}
			<div class="no-results">
				Не найдено результатов по заболеванию <span>{{ q }}</span>
			</div>
		{% endif %}
	{% endif %}

	{# если общий поиск не дал результатов #}
	{% if t == 'all'
	and (productsPagination is not defined or productsPagination is empty)
	and (molecules is not defined or molecules is empty)
	and (search_infoPages is empty and search_companies is empty)
	and (bads is not defined or bads is empty)
	and (atcCodes is empty) %}
		<div class="no-results">
			Не найдено результатов
		</div>
	{% endif %}

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.products-table {
			font-size: 13px;
		}
		.no-results {
			margin: 30px 0 24px;
		}
	</style>
{% endblock %}