<form id="searche_form" method="get" action="{{ path('searche') }}">
	<select class="search-type" name="t">
		<option value="all" {{ app.request.get('t') == 'all' ? 'selected="selected"' }}>
			Везде
		</option>
		<option value="product" {{ app.request.get('t') == 'product' ? 'selected="selected"' }}>
			По препарату
		</option>
		<option value="molecule" {{ app.request.get('t') == 'molecule' ? 'selected="selected"' }}>
			По активному веществу
		</option>
		<option value="atc" {{ app.request.get('t') == 'atc' ? 'selected="selected"' }}>
			По АТХ коду
		</option>
		<option value="firm" {{ app.request.get('t') == 'firm' ? 'selected="selected"' }}>
			По производителю
		</option>
		<option value="nosology" {{ app.request.get('t') == 'nosology' ? 'selected="selected"' }}>
			По показаниям (МКБ-10)
		</option>
		<option value="clphgroup" {{ app.request.get('t') == 'clphgroup' ? 'selected="selected"' }}>
			Клинико-фармакологическая группа
		</option>
		<option value="phthgroup" {{ app.request.get('t') == 'phthgroup' ? 'selected="selected"' }}>
			Фармако-терапевтическая группа
		</option>
	</select>

	<input class="search-query border-radius" type="text" name="q" placeholder="Введите слово для поиска..."
		   value="{{ app.request.attributes.get('_route') == 'searche' ? app.request.get('q') }}"/>

	<div class="search-bad no-selection">
		<input id="search_bad" class="checkbox"
			   type="checkbox" name="b"{{ app.request.get('b') ? ' checked="checked"' }}/>
		<label for="search_bad">включить в поиск БАДы</label>
	</div>

	<div class="right">
		<input class="search-button btn-red" type="submit" value="Найти"/>
	</div>
</form>