{% extends 'VidalMainBundle::layout_promo.html.twig' %}

{% block middle %}
	<div class="boiron-bg">
		<div class="boiron-top">
			<img src="{{ asset('bundles/vidalmain/boiron/top.png') }}" style="width: 800px; margin-left: 50px;">
		</div>
		<div class="boiron-content">
			<div class="line">
				<div>
					<img src="{{ asset('bundles/vidalmain/boiron/line1.png') }}">
					<div class="line-title">ЛАБОРАТОРИЯ БУАРОН ПРЕДСТАВЛЯЕТ НОВИНКУ!</div>
				</div>
			</div>
			<div class="content">
				С сентября 2014 года в российских аптеках появиться Оциллококцинум в упаковке на 30 доз. <br /> Это прекрасная новость для миллионов
				россиян, которые оценят практичность и экономичность такой упаковки. Теперь заботиться о свем здоровье и здоровье всех членов
				семьи стало еще удобнее!
				<br />
				<br />
				<br />
				<br />
				<div class="comment-box">
					<img src="{{ asset('bundles/vidalmain/boiron/line4.png') }}" class="comment">
					<div class="comment-title">Читать далее..</div>
				</div>
			</div>
			<div class="line">
				<div>
					<img src="{{ asset('bundles/vidalmain/boiron/line2.png') }}">
					<div class="line-title" style="top: 35px;left: 45px;">ПРЕПАРАТ ВЫБОРА - ОЦИЛЛОКОКЦИНУМ <br />ПОЧЕМУ?</div>
				</div>
			</div>
			<div class="content">
				<table>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-green.png') }}"></td>
						<td>Оказывает неспецифическое противовирусное действие</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-green.png') }}"></td>
						<td>Прием Оциллококцинума на ранних стадиях заболевания помогает сократить или остановить дальнейшее развитие заболевани!</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-green.png') }}"></td>
						<td>Облегчает течение заболевания в стадии клинических проявлений</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-green.png') }}"></td>
						<td>Способствует скорому востановлению после болезни</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-green.png') }}"></td>
						<td>Безопасная рекомендация (может применяться даже у новорожденных, сочетается с другими ЛС)</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-green.png') }}"></td>
						<td>Рекомендован в качестве профилактики ОРВИ и гриппа</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-green.png') }}"></td>
						<td>Европейское качество, производство по стандартам GMP (Франция) - отсутствие подделок</td>
					</tr>
				</table>
				<div class="comment-box">
					<img src="{{ asset('bundles/vidalmain/boiron/line4.png') }}" class="comment">
					<div class="comment-title">Читать далее..</div>
				</div>
			</div>
			<div class="line">
				<div>
					<img src="{{ asset('bundles/vidalmain/boiron/line3.png') }}">
					<div class="line-title" style="top: 51px;left: 26px;">ОЦИЛЛОКОКЦИНУМ - ПРОВЕРЕННОЕ ФРАНЦУЗСКОЕ РЕШЕНИЕ <br /> ДЛЯ ПРОФИЛАКТИКИ И ЛЕЧЕНИЯ ГРИППА</div>
				</div>
			</div>
			<div class="content">
				<table>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>Европейское качество</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>Прием Оциллококцинум на ранних стадиях заболевания помогает сократить или остановить дальнейшее развитие заболевания!</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>Облегчает течение заболевания в стадии клинических проявлений</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>Способствует востановлению после болезни</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>Оказывает неспецифическое противовирусное действие</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>Безопасный</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>Без возрастных ограничений</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>рекомендован в качестве профилактики ОРВИ и гриппа</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>Удобен в применении</td>
					</tr>
					<tr>
						<td><img src="{{ asset('bundles/vidalmain/boiron/circle-blue.png') }}"></td>
						<td>Сочетается с другими ЛС</td>
					</tr>
				</table>
				<div class="comment-box" style="margin-top: -98px">
					<img src="{{ asset('bundles/vidalmain/boiron/line4.png') }}" class="comment">
					<div class="comment-title">Читать далее..</div>
				</div>
			</div>
		</div>
	</div>
	{#<div class="boiron-footer">#}
		{#<img src="{{ asset('bundles/vidalmain/boiron/man-bottom.png') }}" class="man-bottom">#}
		{#<img src="{{ asset('bundles/vidalmain/boiron/logo-bottom.png') }}" class="logo-bottom">#}
	{#</div>#}
{% endblock %}

{% block stylesheets %}
		{{ parent() }}
		<style>
			.boiron-bg{
				background: url('{{ asset('bundles/vidalmain/boiron/bg.png') }}');
				position: relative;
				height: 1763px;
			}
			.boiron-content{
				min-height: 500px;
			}
			.boiron-box{
				width: 410px;
				position: absolute;
				top: 178px;
				right: 46px;
			}
			.boiron-footer{
				height: 200px;
				background: #FFFFFF;
				position: relative;
			}
			.line{
				text-align: left;
				margin-left: 55px;
				position: relative;
				/*margin-top: 20px;*/
			}
			.comment{
				position: absolute;
				bottom: 0;
				right: 0;
				width: 150px;
				cursor: pointer;
			}
			.content{
				width: 850px;
				margin: 0 auto;
				color: #6a685a;
				line-height: 22px;
				font-size: 15px;
				position: relative;
			}
			.line-title{
				position: absolute;
				font-weight: bold;
				color: #353535;
				font-size: 20px;
				top: 48px;
				left: 23px;
			}
			.comment-box{
				position: relative;
			}
			.comment-title{
				position: absolute;
				color: #EEEEEE;
				right: 16px;
				top: -51px;
				font-weight: bold;
				font-size: 16px;
				cursor: pointer;
			}
		</style>
{% endblock %}