{% extends 'VidalMainBundle::vidal_layout.html.twig' %}


{% block vidal %}
	<h2>Расширенный поиск</h2>
	{% include 'VidalMainBundle:Search:searche_form.html.twig' %}
	{% include 'VidalMainBundle:Search:search_info.html.twig' %}

	<div class="search-results">

	{# Найдено показаний #}
	{% if nozologies is defined %}
		{% if nozologies is not empty %}
			<div class="block">
				<div class="block-anons">
					<div class="block-head">
						Найдено показаний: <span>{{ nozologies|length }}</span>
					</div>
				</div>
			</div>
			<table class="products-table">
				<tr class="products-table-header">
					<td style="width:78px">Код МКБ-10</td>
					<td>Показание</td>
				</tr>
				{% for nozology in nozologies %}
					<tr>
						<td>{{ nozology.Code }}</td>
						<td><a href="{{ path('nozology_code', {'NozologyCode':nozology.Code}) }}"
							   class="no-underline">{{ nozology.Name|raw }}</a></td>
					</tr>
				{% endfor %}
			</table>
		{% elseif t == 'nosology' %}
			<div class="no-results">
				Не найдено результатов по показанию <span>{{ q }}</span>
			</div>
		{% endif %}
	{% endif %}

	{# Найдено АТХ #}
	{% if atcCodes is defined %}
		<div class="block">
			{% if atcCodes is not empty %}
				<div class="block-head anons"
					 title="Анатомо-Терапевтически-Химическая (АТХ) система классификации (ATC)">
					Найдено кодов АТХ: <span>{{ atcCodes|length }}</span>
				</div>
				<table class="products-table">
					<tr class="products-table-header">
						<td style="width:10%">АТХ код</td>
						<td style="width:40%">Название</td>
						<td style="width:40%">Латинское название</td>
						<td style="width:10%">Входит в группу</td>
					</tr>
					{% for code, atc in atcCodes %}
						<tr>
							<td>
								<a href="{{ path('atc', {'ATCCode':atc.ATCCode}) }}"
								   class="no-underline">{{ atc.ATCCode }}</a>
							</td>
							<td>{{ atc.RusName }}</td>
							<td>{{ atc.EngName }}</td>
							<td>
								{% if atc.ParentATCCode is not empty %}
									<a href="{{ path('atc', {'ATCCode':atc.ParentATCCode}) }}"
									   class="no-underline">{{ atc.ParentATCCode }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<div class="no-results">
					Не найдено результатов по AТХ коду <span>{{ q }}</span>
				</div>
			{% endif %}
		</div>

		{# раскрывающееся дерево АТХ #}
		{% include 'VidalMainBundle:Search:tree_atc.html.twig' %}
	{% endif %}

	{# Найдено активных веществ #}
	{% if molecules is defined %}
		{% if molecules is not empty %}
			<div class="block">
				<div class="block-anons">
					<div class="block-head">
						Найдено активных веществ: <span>{{ molecules|length }}</span>
					</div>
				</div>
			</div>

			<table class="products-table">
				<tr class="products-table-header">
					<td width="23%">Активное вещ-во</td>
					<td width="23%">Латинское</td>
					<td width="30%" title="Международное непатентованное наименование (МНН)">МНН</td>
					<td>Входит в состав препаратов</td>
				</tr>
				{% for molecule in molecules %}
					<tr>
						<td>
							<a href="{{ path('molecule', {'MoleculeID':molecule.MoleculeID}) }}"
							   class="no-underline">{{ molecule.RusName|raw }}</a>
						</td>
						<td>{{ molecule.LatName|raw }}</td>
						<td>
							<a title="Международное непатентованное наименование (МНН)" href="{{ path('gnp') }}"
							   class="no-underline">{{ molecule.GNParent }}</a><br/>
							<span class="small italic">{{ molecule.description }}</span>
						</td>
						<td>
							<a href="{{ path('molecule_included', {'MoleculeID':molecule.MoleculeID}) }}"
							   class="no-underline">список</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% elseif t == 'molecule' %}
			<div class="no-results">
				Не найдено результатов по активному веществу <span>{{ q }}</span>
			</div>
		{% endif %}
	{% endif %}

	{# Найдено клинико-фармакологических групп #}
	{% if clphgroups is defined %}
		{% if clphgroups is not empty %}
			<div class="block">
				<div class="block-anons">
					<div class="block-head">
						Найдено клинико-фармакологических групп: <span>{{ clphgroups|length }}</span>
					</div>
				</div>
			</div>
			<ul class="ul-style">
				{% for group in clphgroups %}
					<li><a href="{{ path('clphgroup', {'description':group.name}) }}"
						   class="no-underline">{{ group.description|raw }}</a></li>
				{% endfor %}
			</ul>
		{% elseif t == 'clphgroups' %}
			<div class="no-results">
				Не найдено клинико-фармакологических групп
			</div>
		{% endif %}
	{% endif %}

	{# Найдено фармако-терапевтических групп #}
	{% if phthgroups is defined %}
		{% if phthgroups is not empty %}
			<div class="block">
				<div class="block-anons">
					<div class="block-head">
						Найдено фармако-терапевтических групп: <span>{{ phthgroups|length }}</span>
					</div>
				</div>
			</div>
			<ul class="ul-style">
				{% for group in phthgroups %}
					<li><a href="{{ path('phthgroup', {'id':group.id}) }}"
						   class="no-underline">{{ group.Name|raw }}</a></li>
				{% endfor %}
			</ul>
		{% elseif t == 'phthgroup' %}
			<div class="no-results">
				Не найдено фармако-терапевтических групп
			</div>
		{% endif %}
	{% endif %}

	{# Найдено препаратов #}
	{% if productsPagination is defined %}
		{% if productsPagination is not empty %}
			<div class="block">
				<div class="block-anons">
					<div class="block-head">
						Найдено препаратов: <span>{{ productsPagination.totalItemCount }}</span>
					</div>
				</div>
			</div>

			{% include 'VidalMainBundle:Vidal:render_products.html.twig' with {'products':productsPagination.items} %}

			<div class="navigation">
				{{ knp_pagination_render(productsPagination) }}
			</div>
		{% elseif t == 'product' %}
			<div class="no-results">
				Не найдено результатов по препарату <span>{{ q }}</span>
			</div>
		{% endif %}
	{% endif %}

	{# поиск по производителю #}
	{% if t == 'firm' %}
		{% if firms is not empty %}
			<div class="block">
				<div class="block-anons">
					<div class="block-head">
						Найдено производителей: <span>{{ firms|length }}</span>
					</div>
				</div>
			</div>

			<table class="products-table">
				<tr class="products-table-header">
					<td>Производитель</td>
					<td>Страна</td>
				</tr>
				{% for company in firms %}
					<tr>
						<td>
							<a class="no-underline" href="{{ path('company', {'CompanyID':company.CompanyID}) }}"
								>{{ company.LocalName|raw }}{{ company.Property is not empty ? ', ' ~ company.Property|raw|replace({'&amp;':'&'}) }}</a>
						</td>
						<td>{{ company.Country }}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<div class="no-results">
				Не найдено результатов по производителю <span>{{ q }}</span>
			</div>
		{% endif %}
	{% endif %}

	{# если общий поиск не дал результатов #}
	{% if q is not empty and t == 'all' and
	(productsPagination is not defined or productsPagination is empty) and
	(molecules is not defined or molecules is empty) and
	(nozologies is not defined or nozologies is empty) %}
		<div class="no-results">
			Не найдено результатов
		</div>
	{% endif %}

	</div>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}

	{% if atcTree is defined %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/treeview/jquery.treeview.css') }}"/>
		<style type="text/css">
			/* atc-tree */
			.atc-tree {
				margin-bottom: 8px;
			}
			.atc-tree a {
				font-weight: normal;
				font-size:   12px;
			}
			#atc_collapse {
				margin-left: 50px;
			}
			#atc_expand {
				margin-left: 10px;
			}
		</style>
	{% endif %}

	<style type="text/css">
		.products-table {
			font-size: 13px;
		}
		.block-anons {
			padding: 6px 10px;
		}
		.no-results {
			margin: 30px 0 24px;
		}
		.ul-style li {
			padding-top: 2px;
		}
		.query {
			text-decoration: underline;
		}

		/* search extended */
		#searche_form .search-type, #searche_form .chosen-container .chosen-drop {
			width: 250px;
		}
		#searche_form .search-bad {
			font-size:  11px;
			text-align: right;
			margin:     4px 3px 0 3px;
			color:      #999;
		}
		#search_bad {
			vertical-align: bottom;
			margin:         0 0 0 4px;
		}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/ready_searche.js') }}"></script>
{% endblock %}