{% extends 'VidalMainBundle::layout.html.twig' %}


{% block main %}
	<h1>Пользовательское соглашение</h1>
	<p><strong>1. Общие положения</strong></p>
	<p>1.1. Портал – профессиональный медицинский интернет-ресурс, представляющий собой совокупность веб-страниц, доступных Пользователям в адресном пространстве <a href="{{ path('index') }}">{{ url('index') }}</a>.</p>
	<p>1.2. К регистрации на Портале допускаются только лица с медицинским образованием:
	<ul>
		<li>врачи;</li>
		<li>интерны и ординаторы;</li>
		<li>работники здравоохранения;</li>
		<li>научные сотрудники, работающие по медицинским тематикам;</li>
		<li>студенты медицинских ВУЗов и лица с высшим медицинским образованием.</li>
	</ul>
	</p>
	<p>1.3. Закрытой частью портала считаются все авторские материалы Пользователей и Администрации. Данные материалы доступны для полного ознакомления только зарегистрированным пользователям. В открытой части пользователи могут ознакомиться с неуникальными материалами портала.</p>
	<p>1.4. Пользователь Портала (ранее и далее Пользователь) – физическое лицо, зарегистрировавшееся на Портале и осуществляющее доступ к Порталу посредством сети Интернет.</p>
	<p>1.5. Администрация Портала (ранее и далее - Администрация) – лица, осуществляющие управление Порталом и иные действия, связанные с его использованием на легальных основаниях.</p>
	<p>1.6. Личный кабинет Пользователя (здесь и далее – Личный кабинет) – виртуальное пространство Пользователя на Портале, закрепляемое за ним посредством регистрации. Для регистрации на Портале используются адрес электронной почты Пользователя и назначенный им пароль. Все действия, произведенные средствами Личного кабинета, считаются произведенными Пользователем, если не будет доказано обратное.</p>
	<p>1.7. Пользовательское соглашение (здесь и далее – Соглашение) – является договором публичной оферты согласно статье 437 Гражданского кодекса Российской Федерации. Настоящее Соглашение являются юридически обязывающим документом, заключенным между Пользователем и Администрацией Портала.</p>
	<p>1.8. Регистрация Пользователя без ознакомления с Соглашением не допускается. Соглашение вступает в силу с момента регистрации Пользователя на Портале и распространяется на неопределённый срок.</p>
	<p>1.9. Соглашение размещается по адресу <a href="{{ path('eula') }}">{{ url('eula') }}</a> и может быть в любой момент изменено Администрацией в одностороннем порядке без предварительного уведомления.</p>
	<p>1.10. Все возможные споры между Пользователем и Администрацией решаются в установленном действующим законодательством порядке.</p>


	<p><strong>2. Права и обязанности Пользователя</strong></p>
	<p>2.1. После регистрации на Портале Пользователь приобретает статус зарегистрированного Пользователя и Личный кабинет. Пользователь обязуется самостоятельно обеспечить сохранность данных доступа к Учетной записи и меры по предотвращению несанкционированного доступа посторонних лиц к Учетной записи.</p>
	<p>2.2. Для подтверждения статуса врача пользователь должен ответить на предлагаемые вопросы. В случае если квалификация Пользователя вызывает сомнения или на Пользователя поступили жалобы в от других пользователей, Пользователь обязан по запросу Администрации предоставить копию диплома о высшем медицинском образовании.</p>
	<p>2.3. Пользователь является единоличным владельцем авторских и смежных прав на произведенное им в рамках Портала содержимое, а также несет за него всю полноту ответственности в соответствии с действующим законодательством Российской Федерации: гражданско-правовую, административную и уголовную. Пользователь самостоятельно обеспечивает охрану своих авторских и смежных прав.</p>
	<p>2.5. Пользователь обязуется:
	<ul>
		<li>обеспечивать достоверность предоставляемой информации;</li>
		<li>при распространении на Портале информации, создателем которой Пользователь не является, обеспечить включение в её состав достоверных сведений об источнике информации или о лице, распространяющем информацию, в форме и объёме, которые достаточны для идентификации такого лица;</li>
		<li>не осуществлять сбор, копирование, сохранение и распространение персональных данных других Пользователей, вне зависимости от намерений по использованию этих данных;</li>
		<li>не использовать предоставляемые Порталом возможности для любых массовых рассылок – рекламных, коммерческих, агитационных и т.п.;</li>
		<li>не рекламировать товары или услуги с целью извлечения выгоды – любая коммерческая реклама должна быть согласована с Администрацией;</li>
		<li>не производить никаких действий, способных помешать другим Пользователям осуществление доступа к сервисам Портала (в полной мере или частично);</li>
		<li>не производить никаких действий, способных помешать нормальному функционированию Портала, а также не пытаться получить несанкционированный доступ к управлению Порталом и совершению любых действий, доступных только Администрации;</li>
		<li>не нарушать законодательство Российской Федерации с использованием каких угодно возможностей, предоставляемых Порталом (в случае нахождения Пользователя за пределами Российской Федерации он также обязуется соблюдать законодательство страны пребывания);</li>
		<li>не использовать доступ к Порталу для пропаганды или агитации, возбуждающей социальную, расовую, национальную или религиозную ненависть и вражду, пропаганду насилия или войны, социального, расового, национального, религиозного или языкового превосходства;</li>
		<li>не размещать на Портале и не передавать посредством сообщений всех видов любые материалы, содержание которых может быть расценено как некорректное, нецензурное, оскорбительное, антиобщественное, нарушающее права несовершеннолетних, противоречащее основам правопорядка, этики и нравственности, а также гиперссылки на веб-страницы с подобными материалами;</li>
		<li>не размещать на Портале и не передавать посредством сообщений всех видов доступ к вредоносному программному обеспечению в любом виде;</li>
		<li>не размещать на Портале и не передавать посредством сообщений всех видов персональные и контактные данные других лиц без подтвержденного согласования с ними;</li>
		<li>не размещать на Портале и не передавать посредством сообщений всех видов заведомо ложные сведения о других лицах или организациях;</li>
		<li>не размещать на Портале и не передавать посредством сообщений всех видов материалы порнографического характера и гиперссылки на веб-страницы с подобными материалами;</li>
		<li>не выдавать себя за другое, реально существующее лицо.</li>
	</ul>
	</p>
	<p>2.6. Пользователь дает согласие на использование персональной информации в обобщенном виде в целях проведения маркетинговых исследований и таргетинга на сайте Evrika.ru при том, что адреса электронной почты не будут передаваться третьим лицам.</p>
	<p>2.7. Никакая деловая, партнерская, коммерческая или рекламная деятельность Пользователей в рамках Портала невозможна без письменного согласования с Администрацией.</p>


	<p><strong>3. Права и обязанности Администрации</strong></p>
	<p>3.1. Администрация обязана предоставить Пользователю возможность размещения в Личном кабинете информации (тестовой, фото, видео, ссылок на материалы, размещённые на Портале, либо на других информационных ресурсах).</p>
	<p>3.2. Администрация обязана предоставить Пользователям доступ ко всем информационным материалам Портала с возможностью комментирования статей, видео и новостей.</p>
	<p>3.3. Администрация обязана предоставить Пользователям возможность осуществлять коммуникацию в виде обмена личными сообщениями и инициировать обсуждения на специальных дискуссионных площадках – Консилиумах (Консилиумы создаются и модерируются Пользователями).</p>
	<p>3.4. В пределах функционирования Портала обеспечивается тайна сообщений и соблюдается конфиденциальность информации о Пользователях, за исключением случаев, предусмотренных законодательством Российской Федерации и необходимых служебных случаев.</p>
	<p>3.5. Администрация вправе размещать на страницах, содержащих Материалы Пользователя, рекламные баннеры, объявления, а также иную информацию по своему усмотрению.</p>
	<p>3.6. Администрация ресурса не осуществляет редактирование размещаемой Пользователями информации и не несёт ответственность за её содержание и соответствие требованиям законодательства, за нарушение авторских прав, несанкционированное использование товарных знаков, наименований фирм и их логотипов, а также за возможные нарушения прав третьих лиц в связи с размещением информации на Портале. В случае поступления претензий от третьих лиц, связанных с размещением информации, Пользователь самостоятельно и за свой счет урегулирует указанные претензии.</p>
	<p>3.7. Администрация оставляет за собой право снимать с публикации или удалять размещенные Пользователем материалы в случае, если посчитает их несущими заведомо ложную информацию, нарушающие морально этические нормы, а также оскорбляющие своим содержанием Пользователей портала..</p>
	<p>3.8. Администрация Портала осуществляет текущее управление Порталом, определяет состав сервисов Портала, его структуру и внешний вид, разрешает и ограничивает доступ к Порталу, осуществляет иные принадлежащие ей права.</p>
	<p>3.9. Администрация не несет ответственности за ущерб Пользователя, возникший вследствие некорректного использования содержимого Портала и отказа следовать настоящему Соглашению.</p>
	<p>3.10. В случае нарушения Пользователем правил, установленных настоящим Соглашением, Администрация вправе временно приостановить или заблокировать доступ Пользователя к его Личному кабинету, а также удалить Личный кабинет.</p>
	<p>3.11. Администрация не занимается рассмотрением конфликтных ситуаций и разрешением споров между Пользователями, однако оставляет за собой право приостановить доступ зарегистрированного Пользователя к его Личному кабинету при наличии мотивированных жалоб на поведение Пользователя.</p>
	<p>3.12. Администрация обязуется приложить максимальные усилия для обеспечения доступа Пользователей к Порталу, однако не гарантирует его бесперебойное функционирование.</p>
	<p>3.13. В случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса.</p>
	<p>3.14. В случае принятия органами власти Российской Федерации нормативно-правовых актов, затрагивающих целиком или частично функционирование Портала, Администрация сохраняет за собой право без предварительного уведомления вносить любые изменения в функционирование Портала, направленные на приведение его в соответствие с новыми нормами.</p>
	<p>3.15. Администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг.</p>


	<p><strong>4. Условия использования материалов</strong></p>
	<p>4.1. Права на материалы Пользователей на Портале принадлежат исключительно Пользователям.</p>
	<p>4.2. Все права на статьи, видео и новости на Портале, охраняются в соответствии с законодательством Российской Федерации, в том числе об авторском праве и смежных правах.</p>
	<p>4.3. При использовании информации в электронном виде необходимо размещение активной гиперссылки на главную страницу сайта <a href="{{ path('index') }}">{{ url('index') }}</a> или на страницу размещения соответствующего материала. При использовании информации на любом другом носителе необходимо указание источника в виде &laquo;Источник: www.vidal.ru&raquo;.</p></div></div>
{% endblock %}