{% extends 'VidalMainBundle::layout.html.twig' %}


{% block main %}
	<h1>РЕГИСТРАЦИЯ</h1>

	<form id="register_form" action="{{ path('registration') }}" autocomplete="off"
		  method="post" {{ form_enctype(form) }}>
		{% form_theme form 'VidalMainBundle:Form:registration_form.html.twig' %}
		{{ form_widget(form) }}
		<p class="addition-info">* Специализацию вы можете указать в профиле после регистрации</p>
	</form>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/jquery-chosen/chosen.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/checkbox/checkbox.css') }}"/>
	<style type="text/css">
		.addition-info {
			color:      #777777;
			margin:     10px 0 0;
			text-align: center;
		}
		.form_table .eula-checkbox{
			margin-left: 10px;
		}
		.row_birthdate .chosen-container {
			width:        68px !important;
			margin-right: 15px;
		}
		#register_birthdate_month_chosen {
			width: 100px !important;
		}
		.row_student .form_widget, .row_eula .form_widget, .eula {
			user-select:         none;
			-moz-user-select:    none;
			-webkit-user-select: none;
			-ms-user-select:     none;
		}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/jquery-chosen/chosen.jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/checkbox/jquery.checkbox.js') }}"></script>
	<script>
		$(document).ready(function() {
			$("#register_city").autocomplete({
				source:    Routing.generate('ajax_city'),
				minLength: 2,
				delay:     100,
				autoFocus: true,
				limit:     15
			});

			var $miniChoices = $('#register_jobAlignment, #register_jobType, #register_academicDegree');
			$('#register_form select').not($miniChoices).chosen({
				search_contains: true,
				no_results_text: "не найдено"
			});
			$($miniChoices).chosen({
				disable_search:  true,
				no_results_text: "не найдено"
			});

			$('#register_form input[type="checkbox"]').checkbox();
		});
	</script>
{% endblock %}